{% extends '_main.html' %} {% load waffle_tags %} {% block page_title %}Contact
us - {{ block.super }} {% endblock page_title %} {% block breadcrumbs %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'root' %}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Contact Us</li>
  </ol>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'design_system/error_summary.html' with form=form %}
    <form method="post">
      {% csrf_token %}
      <div
        class="govuk-radios govuk-radios--conditional"
        data-module="govuk-radios"
      >
        {{ form.contact_type }}
      </div>
      <button type="submit" class="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
