{% extends '_main.html' %}

{% load waffle_tags %}

{% block page_title %}Contact us - {{ block.super }}{% endblock page_title %}
{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'root' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">Contact us</li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if ticket_id %}
        <h1 class="govuk-heading-l">Support request received</h1>
        <p class="govuk-body">
          Your request has been received. Your reference is: <strong>{{ ticket_id }}</strong>.
        </p>
        <p class="govuk-body">
          You will receive a confirmation email to the address you provided.
        </p>
        <a class="govuk-button" href="{% url 'root' %}">Back</a>
      {% else %}
        {% include 'design_system/error_summary.html' with form=form %}
        <form method="post">
          {% csrf_token %}
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            {{ form.support_type }}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-message">
              {{ form.message }}
            </div>
          </div>
          {{ form.email }}
          <button type="submit" class="govuk-button">Continue</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
