{% extends '_main.html' %}

{% load waffle_tags %}

{% block page_title %}Tell us how we can help{% endblock page_title %}
{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'root' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">Support and feedback
      </li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if ticket_id %}
        <h1 class="govuk-heading-l">Support request received</h1>
        <p class="govuk-body">
          Your request has been received. Your reference is: <strong>{{ ticket_id }}</strong>.
        </p>
        <p class="govuk-body">
          You will receive a confirmation email to the address you provided.
        </p>
        <a class="govuk-button" href="{% url 'root' %}">Go home</a>
      {% else %}
        <h1 class="govuk-heading-l">Support and feedback</h1>
        <p class="govuk-body-l">Tell us how we can help.</p>
        {% flag REQUEST_DATA_JOURNEY_FLAG %}
        <p class="govuk-body">
          <a class="govuk-link" href="{% url 'request_data:index' %}">Tell us about a new dataset</a>
          that you’d like to add to Data Workspace.
        </p>
        {% endflag %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="govuk-fieldset">
            {% include 'partials/form_field.html' with field=form.message %}
            {% include 'partials/form_field.html' with field=form.email %}
          </fieldset>
          <button type="submit" class="govuk-button">Send</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
