{% extends '_main.html' %}

{% load waffle_tags %}

{% block page_title %}
Give feedback on Data Workspace - {{ block.super }}
{% endblock page_title %}
{% block go_back %}
{% if 'success' not in request.GET %}<a href="{{ referer }}" class="govuk-back-link">Back</a>{% endif %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% include 'design_system/error_summary.html' with form=form %}
        {% if 'success' in request.GET %}
        <h1 class="govuk-heading-l">Thank you for your feedback!</h1>
        <p class="govuk-body-m">We are constantly improving this sevice and your feedback is valuable to us.</p>
        <p class="govuk-body-m">We regularly review feedback and use it to improve the service. Sign up to our monthly
            newsletter to find out more anout new features and changes.</p>
        <p class="govuk-body-m">
            <a class="govuk-link" href="{% url 'root' %}">Return home</a>
        </p>
        {% else %}
        <h1 class="govuk-heading-xl">Give feedback on Data Workspace</h1>
        <p class="govuk-body-m">
            Use this form to tell us about your experience using Data Workspace. Your feedback is anonymous and you will
            not recieve a response.
        </p>
        <p class="govuk-body-m">
            <strong>
                If you need help with an issue or query
            </strong>
        </p>
        <p class="govuk-body-m">
            Use our <a class="govuk-link govuk-link--no-visited-state" href="{% url 'support' %}">support form.</a>
        </p>
        <div class="govuk-!-padding-top-5">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <fieldset class="govuk-fieldset">
                    {{ form.survey_source }}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        {{ form.trying_to_do }}
                        <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                            <div class="govuk-!-padding-left-2">
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional_input govuk-checkboxes__conditional--hidden"
                                    id="conditional-message">{{ form.trying_to_do_other_message }}</div>
                            </div>
                        </div>
                    </div>
                    {{ form.how_satisfied }} 
                    <div class="govuk-!-padding-top-2">
                        {{ form.improve_service }}
                    </div>
                </fieldset>
                <button type="submit" class="govuk-button">Submit feedback</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}