{% extends '_main.html' %}
{% load static datasets_tags %}
{% block page_title %}Our work - {{ block.super }}{% endblock %}
{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'root' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Our work
      </li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-3">
      <h1 class="govuk-heading-xl">Our work</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for case_study in page_obj %}
        <div class="search-result">
          <h2 class="govuk-heading-m">
            <a class="govuk-link" href="{{ case_study.get_absolute_url }}">
              {{ case_study.name }}
            </a>
          </h2>
          <p class="govuk-body">
            {{ case_study.short_description }}
          </p>
          <p class="govuk-body-s">Published {{ case_study.publish_date|date:"d/m/Y" }}</p>
        </div>
      {% empty %}
        <p class="govuk-body">There are no case studies to show currently</p>
      {% endfor %}
    </div>
  </div>

  {% if page_obj.paginator.count > 0 %}
    <p class="govuk-body" style="display: inline">
      Displaying case studies {{ page_obj.start_index }}&ndash;{{ page_obj.end_index }} of {{ page_obj.paginator.count }}
    </p>

    {% if page_obj.paginator.num_pages > 1 %}
      <nav role="navigation" class="govuk-body" aria-label="Search result page navigation" style="display: inline">
        <ul class="pagination govuk-list">
          {% if page_obj.has_previous %}
            <li><a class="govuk-link" href="{% url_replace page=page_obj.previous_page_number %}" aria-label="Previous page">Previous</a></li>
          {% endif %}

          {% if page_obj.number > 3 %}
            <li><a class="govuk-link" href="{% url_replace page=1 %}" aria-label="Page 1">{{ 1 }}</a></li>
            {% if page_obj.number > 4 %}<li>&hellip;</li>{% endif %}
          {% endif %}

          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active">{{ i }}</li>
            {% elif i >= page_obj.number|add:'-2' and i <= page_obj.number|add:'2' %}
              <li><a class="govuk-link" href="{% url_replace page=i %}" aria-label="Page {{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
            {% if page_obj.paginator.num_pages > page_obj.number|add:'3' %}<li>&hellip;</li>{% endif %}
            <li><a class="govuk-link" href="{% url_replace page=page_obj.paginator.num_pages %}" aria-label="Page {{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
          {% endif %}

          {% if page_obj.has_next %}
            <li><a class="govuk-link" href="{% url_replace page=page_obj.next_page_number %}" aria-label="Next page">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  {% endif %}
{% endblock content %}
