{% extends '_main.html' %}
{% load static datasets_tags %}
{% load core_filters %}
{% block page_title %}{{ case_study.name }} - {{ block.super }}{% endblock %}
{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'root' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'case-studies:case-studies' %}">
          Our work
        </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        {{ case_study.name }}
      </li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ case_study.name }}</h1>
      <p class="govuk-body-l">{{ case_study.short_description }}</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <dl class="govuk-summary-list">
        {% if case_study.department_name %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Department</dt>
            <dd class="govuk-summary-list__value">{{ case_study.department_name }}</dd>
          </div>
        {% endif %}
        {% if case_study.service_name %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Service</dt>
            <dd class="govuk-summary-list__value">{{ case_study.service_name }}</dd>
          </div>
        {% endif %}
        {% if case_study.service_name %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Outcome</dt>
            <dd class="govuk-summary-list__value">{{ case_study.outcome }}</dd>
          </div>
        {% endif %}
      </dl>
      {% if case_study.image %}
        <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-6">
          <img
            class="case-study-image"
            src="{{ case_study.image.url }}"
            alt="{{ case_study.name }}"
          >
        </div>
      {% endif %}
      {% if case_study.background %}
        <h2 class="govuk-heading-m">Background</h2>
        <div class="govuk-body">
          {{ case_study.background|minimal_markdown }}
        </div>
      {% endif %}
      {% if case_study.solution %}
        <h2 class="govuk-heading-m">Solution</h2>
        <div class="govuk-body">
          {{ case_study.solution|minimal_markdown }}
        </div>
      {% endif %}
      {% if case_study.impact %}
        <h2 class="govuk-heading-m">Impact</h2>
        <div class="govuk-body">
          {{ case_study.impact|minimal_markdown }}
        </div>
      {% endif %}
      {% if case_study.quote_title or case_study.quote_text %}
        <div class="govuk-cookie-banner case-study-quote">
          <div class="govuk-cookie-banner__message govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                {% if case_study.quote_title %}
                  <h2 class="govuk-cookie-banner__heading govuk-heading-m quote-heading">
                    {{ case_study.quote_title }}
                  </h2>
                {% endif %}
                <div class="govuk-cookie-banner__content quote-content">
                  {% if case_study.quote_text %}
                    <div class="quote-text">
                      {{ case_study.quote_text|minimal_markdown }}
                    </div>
                  {% endif %}
                  {% if case_study.quote_full_name %}{{ case_study.quote_full_name }}{% endif %}
                  {% if case_study.quote_department_name %}
                    <p class="govuk-body govuk-!-font-weight-bold">
                      {{ case_study.quote_department_name }}
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="govuk-!-padding-top-5">
        <p class="govuk-body-s">Published {{ case_study.publish_date|date:"d/m/Y" }}</p>
      </div>
      <hr />
      {% if other_case_studies %}
        <div class="govuk-!-padding-top-4">
          <h2 class="govuk-heading-s">Other case studies</h2>
          {% for other_case_study in other_case_studies %}
            <p class="govuk-body-s">
              <a href="{{ other_case_study.get_absolute_url }}" class="govuk-link">
                <strong>{{ other_case_study.name }}</strong>
              </a>
            </p>
          {% endfor %}
          <a href="{% url 'case-studies:case-studies' %}" class="govuk-link govuk-!-padding-bottom-2">
            <strong>See all</strong>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
