{% extends "explorer/base.html" %}
{% load explorer_tags useful datasets_tags %}
{% block title %}Data Explorer - Charts{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Your charts</h1>
  <p class="govuk-body govuk-!-margin-bottom-7">
    View charts you've created from your <a href="{% url 'explorer:index' %}" class="govuk-link govuk-link--no-visited-state">Data Explorer</a>
    queries
  </p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Title</th>
          <th scope="col" class="govuk-table__header">Date created</th>
          <th scope="col" class="govuk-table__header">Published</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for chart in charts %}
            <tr>
              <td class="name govuk-table__cell">
                <a href="{{ chart.get_edit_url }}" class="govuk-link govuk-link--no-visited-state">
                  {{ chart.title }}
                </a>
              </td>
              <td class="name govuk-table__cell">
                {{ chart.created_date|date_with_gmt_offset }}
              </td>
              <td class="name govuk-table__cell">
                {% if chart.is_published %}Yes{% else %}No{% endif %}
              </td>
              <td class="name govuk-table__cell">
                <a href="{% url 'explorer:explorer-charts:delete-chart' chart.id %}" class="govuk-link govuk-link--no-visited-state">
                  Delete
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="name govuk-table__cell" colspan="3">
                You haven't created any charts yet. Create one by first <a href="{% url 'explorer:index' %}" class="govuk-link govuk-link--no-visited-state">running a query</a>.
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
