version: "3.4"
services:
  data-workspace-test:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    image: data-workspace-test
    stdin_open: true
    tty: true
    env_file:
      - ./.envs/test.env
    shm_size: '200mb'  # needed for chromium selenium tests - otherwise page/tab crashes
    ports:
      - "8000"
    links:
      - "data-workspace-postgres"
      - "data-workspace-redis"
      - "data-workspace-es"
    extra_hosts:
      - "dataworkspace.test:127.0.0.1"
      - "superset.dataworkspace.test:127.0.0.1"
      - "superset-edit.dataworkspace.test:127.0.0.1"
      - "testapplication-23b40dd9.dataworkspace.test:127.0.0.1"
      - "testdbapplication-23b40dd9.dataworkspace.test:127.0.0.1"
      - "testvisualisation.dataworkspace.test:127.0.0.1"
      - "testvisualisation--8888.dataworkspace.test:127.0.0.1"
      - "testvisualisation--11372717.dataworkspace.test:127.0.0.1"
      - "testvisualisation--11372717--8888.dataworkspace.test:127.0.0.1"
      - "testvisualisation-a.dataworkspace.test:127.0.0.1"
      - "testvisualisation-b.dataworkspace.test:127.0.0.1"
      - "api.ecr.my-region-1.amazonaws.com:127.0.0.1"
    volumes:
      - db-logs-dev:/var/log/postgres
      - ./dataworkspace:/dataworkspace
      - ./test:/test
  data-workspace-postgres:
    build:
      context: postgres
      dockerfile: Dockerfile
    image: data-workspace-postgres
    ports:
      - "5432"
    volumes:
      - db-logs-dev:/var/log/postgres
  data-workspace-redis:
    build:
      context: redis
      dockerfile: Dockerfile
    image: data-workspace-redis
    ports:
      - "6379"
  data-workspace-es:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.0
    environment:
      - discovery.type=single-node
      - http.port=9200
    ports:
      - "9200:9200"


volumes:
  db-logs-dev:
