version: "3.4"
services:
  data-workspace:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: data-workspace
    ports:
      - "8000:8000"
      - "4444:4444"
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_SECURITY_TOKEN
    env_file: .envs/dev.env
    links:
      - "data-workspace-postgres"
      - "data-workspace-redis"
      - "data-workspace-es"
    volumes:
      - .:/app
      - ./dataworkspace:/dataworkspace
      - ./dataworkspace/dataworkspace/static/js/stats:/dataworkspace/dataworkspace/static/js/stats/
  data-workspace-celery:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: data-workspace
    env_file: .envs/dev.env
    links:
      - "data-workspace-postgres"
      - "data-workspace-redis"
    command: "/dataworkspace/start-celery-dev.sh"
    volumes:
      - ./dataworkspace:/dataworkspace
      - db-logs-dev:/var/log/postgres
  data-workspace-postgres:
    build:
      context: postgres
      dockerfile: Dockerfile
    image: data-workspace-postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data-dev:/var/lib/postgresql/data
      - db-logs-dev:/var/log/postgres
  data-workspace-redis:
    build:
      context: redis
      dockerfile: Dockerfile
    image: data-workspace-redis
    ports:
      - "6379:6379"
  data-workspace-es:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.0
    environment:
      - discovery.type=single-node
      - http.port=9200
    ports:
      - "9200:9200"

  data-workspace-localstack:
    build:
      context: localstack
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:53:53"
      - "127.0.0.1:53:53/udp"
      - "127.0.0.1:443:443"
      - '4563-4599:4563-4599'
    environment:
      - AWS_DEFAULT_REGION=eu-west-2
      - EDGE_PORT=4566
      - SERVICES=s3,sts,iam
      - EXTRA_CORS_ALLOWED_ORIGINS=http://dataworkspace.test:8000
    volumes:
      - "./localstack:/tmp/localstack"

volumes:
  db-data-dev:
  db-logs-dev:
  
networks:
  default:
    external:
      name: data-infrastructure-shared-network
