version: "3"
services:
  data-workspace:
    build:
      context: .
      dockerfile: Dockerfile-circleci
    image: data-workspace
    ports:
      - "8000:8000"
    env_file: .env
    links:
      - "data-workspace-postgres"
      - "data-workspace-redis"
  data-workspace-postgres:
    build:
      context: postgres
      dockerfile: Dockerfile
    image: data-workspace-postgres
    ports:
      - "5432:5432"
  data-workspace-redis:
    build:
      context: redis
      dockerfile: Dockerfile
    image: data-workspace-redis
    ports:
      - "6379:6379"
