[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "==2.3.5"
aiohttp = "==3.10.2"
aiosignal = "==1.3.1"
amqp = "==5.1.1"
asgiref = "==3.7.2"
async-timeout = "==4.0.2"
attrs = "==20.2.0"
aws-requests-auth = "==0.4.3"
beautifulsoup4 = "==4.11.1"
billiard = "==4.1.0"
bleach = "==3.3.0"
boto3 = "==1.24.45"
botocore = "==1.27.45"
cached-property = "==1.5.2"
cachetools = "==4.1.1"
celery = "==5.3.4"
celery-redbeat = "==2.1.1"
certifi = "==2024.7.4"
cffi = "==1.15.0"
chardet = "==3.0.4"
charset-normalizer = "==3.1.0"
click = "==8.1.7"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
cryptography = "==43.0.1"
dj-database-url = "==0.5.0"
django = "==4.2.15"
django-admin-sortable2 = "==2.1.10"
django-appconf = "==1.0.4"
django-better-admin-arrayfield = "==1.3.0"
django-celery-results = "==2.5.1"
django-ckeditor = "==6.7.1"
django-compressor = "==2.4"
django-csp = "==3.7"
django-csp-helpers = "==0.7.1"
django-db-connection-pool = {extras = ["postgresql"], version = "==1.2.4"}
django-dynamic-models-readonly = "==0.1.1"
django-environ = "==0.4.5"
django-extensions = "==3.2.3"
django-js-asset = "==2.2.0"
django-maintenance-mode = "==0.21.0"
django-redis = "==5.4.0"
django-staff-sso-client = "==4.2.1"
django-waffle = "==2.0.0"
django-webpack-loader = "==1.4.1"
djangorestframework = "==3.15.2"
docopt = "==0.6.2"
ecs-logging = "==0.5.0"
elastic-apm = "==6.12.0"
elasticsearch = {extras = ["async"], version = "==7.11.0"}
escapejson = "==1.0"
et-xmlfile = "==1.0.1"
frozenlist = "==1.3.3"
geoalchemy2 = "==0.8.4"
gevent = "==23.9.1"
greenlet = "==3.0.1"
hawk-server-asyncio = "==0.0.13"
idna = "==3.7"
ijson = "==3.1.3"
importlib-metadata = "==8.2.0"
isodate = "==0.6.0"
jdcal = "==1.4.1"
jmespath = "==0.10.0"
jsonlines = "==2.0.0"
jsonschema = "==3.2.0"
kaleido = "==0.2.1"
kombu = "==5.3.2"
linear-tsv = "==1.1.0"
markupsafe = "==2.1.2"
mohawk = "==1.1.0"
multidict = "==4.7.6"
notifications-python-client = "==6.3.0"
oauthlib = "==3.2.2"
openpyxl = "==3.0.6"
packaging = "==22.0"
paste = "==3.4.3"
pg-sync-roles = "==0.0.38"
pglast = "==3.18"
plotly = "==5.6.0"
prompt-toolkit = "==3.0.38"
psutil = "==5.7.2"
psycogreen = "==1.0.2"
psycopg2 = "==2.9.6"
pycparser = "==2.20"
pyjwt = "==2.4.0"
pyrsistent = "==0.17.3"
python-arango = "==7.5.8"
python-dateutil = "==2.8.2"
python-dotenv = "==0.12.0"
python-fsutil = "==0.13.0"
pytz = "==2021.3"
rcssmin = "==1.0.6"
redis = "==4.5.4"
requests = "==2.32.3"
requests-oauthlib = "==1.3.0"
requests-toolbelt = "==1.0.0"
rfc3986 = "==1.4.0"
rjsmin = "==1.1.0"
s3transfer = "==0.6.0"
sentry-sdk = "==2.8.0"
six = "==1.15.0"
smart-open = {extras = ["s3"], version = "==6.4.0"}
soupsieve = "==2.3.2.post1"
sqlalchemy = "==2.0.12"
sqlparams = "==6.0.1"
sqlparse = "==0.5.0"
tableschema = "==1.20.0"
tabulator = "==1.53.1"
tenacity = "==6.2.0"
typing-extensions = "==4.5.0"
tzdata = "==2023.3"
unicodecsv = "==0.14.1"
urllib3 = "==1.26.19"
vine = "==5.0.0"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
werkzeug = "==3.0.3"
xlrd = "==2.0.1"
xlsxwriter = "==1.2.8"
yarl = "==1.9.4"
zenpy = "==2.0.21"
zipp = "==3.19.2"
zope-event = "==4.5.0"
zope-interface = "==5.1.0"

[dev-packages]

[requires]
python_version = "3.9"
