-r requirements.txt

aiopg
black
djlint
factory_boy
flake8
flake8-bugbear
freezegun
mock
mohawk
pip-tools
pylint
pylint-django
pytest
pytest-cov
pytest-mock
pytest-django
pytest-timeout
django-debug-toolbar
requests-mock
pyppeteer
ipdb
lxml
selenium
remote-pdb
remote-pdb-client
pydevd-pycharm
debugpy
python-arango
django-formtools
