
-r requirements.txt

aiopg
black
debugpy
django_admin_inline_paginator
django-debug-toolbar
djlint
factory_boy
flake8
flake8-bugbear
freezegun
ipdb
lxml
mock
mohawk
pip-tools
pydevd-pycharm
pylint
pylint-django
pyppeteer
pytest
pytest-cov
pytest-django
pytest-mock
pytest-timeout
python-arango
remote-pdb
remote-pdb-client
requests-mock
selenium
pydevd-pycharm
debugpy
python-arango
django-formtools