aiohttp==3.6.2
aioredis==1.3.1
bleach==3.1.5
boto3==1.14.60
celery-redbeat==1.0.0
celery==4.4.7
cryptography==2.9.2
dj-database-url==0.5.0
django-admin-sortable2==0.7.7
django-better-admin-arrayfield==1.3.0
django-ckeditor==5.9.0
django-compressor==2.4
django-csp==3.6
django-db-geventpool==3.2.2
django-dynamic-models-readonly==0.1.1
django-environ==0.4.5
django-extensions==2.2.9
django-redis==4.12.1
django-staff-sso-client==2.1.0
django-waffle==2.0.0
django==3.0.8
djangorestframework==3.11.1
ecs-logging==0.5.0
elastic-apm==5.8.1
geoalchemy2>=0.8.4
gevent==20.6.2
hawk-server-asyncio==0.0.13
Markdown==3.2.2
MarkupSafe==1.1.1
mohawk==1.1.0
notifications-python-client==5.7.0
paste==3.4.3
psutil==5.7.2
psycogreen==1.0.2
psycopg2==2.7.7
python-dotenv==0.12.0
redis==3.5.3
pyjwt==1.7.1
requests==2.24.0
sentry-sdk==0.17.6
sqlalchemy>=1.3.15
Werkzeug==1.0.1
XlsxWriter==1.2.8
zenpy==2.0.21
