aiohttp==3.4.4
aioredis==1.2.0
boto3==1.9.123
celery==4.3.0
celery-redbeat==0.13.0
gunicorn[gevent]==19.9.0
psycogreen==1.0.1
django==2.2.8
django-better-admin-arrayfield==1.0.4
django-ckeditor==5.8.0
django-db-geventpool==3.1.0
django-redis==4.10.0
zenpy==2.0.15
requests==2.21.0
django-admin-sortable2==0.7.3
sentry-sdk==0.13.5
hawk-server-asyncio==0.0.6
