aiohttp
aws-requests-auth
beautifulsoup4
bleach
boto3
celery-redbeat
celery
cryptography
dj-database-url
django-admin-sortable2
django-better-admin-arrayfield
django-ckeditor
django-compressor
django-csp
django-csp-helpers
# Forked from django-db-geventpool to add Sentry exceptions when the pool is full
# Ideally the fork will be merged upstream, but in the meantime, this commit is
# from the develop branch in https://github.com/uktrade/django-db-geventpool
# This is deliberately a commit ID rather than a branch name - to make sure that
# old versions aren't cached anywhere if changes are made
django-db-geventpool @ git+https://github.com/uktrade/django-db-geventpool@a5197b05baa84b4e6d01f17c2dd640d25750ce2b
django-dynamic-models-readonly
django-environ
django-extensions
django-redis
django-staff-sso-client
django-waffle
django
djangorestframework
ecs-logging
elastic-apm
elasticsearch[async]
escapejson
geoalchemy2
gevent
hawk-server-asyncio
kaleido
mohawk
notifications-python-client
paste
plotly
pglast
psutil
psycogreen
psycopg2-binary
python-dotenv
redis
pyjwt
requests
sentry-sdk
sqlalchemy
tableschema
Werkzeug
XlsxWriter
zenpy
django-webpack-loader
