aiohttp
aioredis
boto3
celery
celery-redbeat
django-admin-sortable2
django-better-admin-arrayfield
django-ckeditor
django-db-geventpool
django-redis
django-waffle
django<=3.0
gunicorn[gevent]
hawk-server-asyncio
psycogreen
psycopg2-binary
redis
requests
sentry-sdk
zenpy
