-r requirements.txt

aiopg
black
factory_boy
flake8
flake8-bugbear
freezegun
beautifulsoup4
mock
mohawk
pip-tools
pylint
pylint-django
pytest
pytest-cov
pytest-mock
pytest-django
pytest-timeout
django-debug-toolbar
requests-mock
# Ideally would use PyPI's pyppeteer, but the latest version there requires
# websockets 8.1, which has a vulnerability
git+https://github.com/pyppeteer/pyppeteer.git@0fd15a7c4b2d3aeaaf6da65da9033c150de0d3cb
ipdb
lxml
selenium
remote-pdb
remote-pdb-client
pydevd-pycharm
debugpy
djhtml
