{% load core_tags datasets_tags waffle_tags %}
{% load static %}

{% if perms.applications.start_all_applications or perms.applications.access_appstream %}
  {% if code_snippets %}
  <link rel="stylesheet" href="{% static 'assets/vendor/highlight/styles/a11y-light.css' %}">

  <h3 class="govuk-heading-l">Code snippets <span class="govuk-visually-hidden">for "{{ master_dataset_info.schema }}"."{{ master_dataset_info.table }}"</span></h3>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#code-snippet-sql-{{ master_dataset_info.schema }}-{{ master_dataset_info.table }}">SQL</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#code-snippet-python-{{ master_dataset_info.schema }}-{{ master_dataset_info.table }}">Python</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#code-snippet-r-{{ master_dataset_info.schema }}-{{ master_dataset_info.table }}">R</a>
      </li>
    </ul>

    <div class="govuk-tabs__panel" id="code-snippet-sql-{{ master_dataset_info.schema }}-{{ master_dataset_info.table }}">
      <h3 class="govuk-heading-m">SQL</h3>
      <div class="app-example__code">
        <pre data-module="app-copy" style="white-space: pre-wrap;">
          <code class="hljs psql">{{ code_snippets.sql }}</code>
        </pre>
      </div>

      <a id="launch-data-explorer" class="govuk-button govuk-!-margin-top-5" href="{% url 'explorer:index' %}?sql={{ code_snippets.sql|quote_plus }}" target="_blank">Open <span class="govuk-visually-hidden">first 50 rows of "{{ master_dataset_info.schema }}"."{{ master_dataset_info.table }}" </span>in Data Explorer</a>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="code-snippet-python-{{ master_dataset_info.schema }}-{{ master_dataset_info.table }}">
      <h3 class="govuk-heading-m">Python</h3>
      <div class="app-example__code">
        <pre data-module="app-copy" style="white-space: pre-wrap;">
          <code class="hljs python">{{ code_snippets.python }}</code>
        </pre>
      </div>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="code-snippet-r-{{ master_dataset_info.schema }}-{{ master_dataset_info.table }}">
      <h3 class="govuk-heading-m">R</h3>
      <div class="app-example__code">
        <pre data-module="app-copy" style="white-space: pre-wrap;">
          <code class="hljs r">{{ code_snippets.r }}</code>
        </pre>
      </div>
    </div>
  </div>

  <script src="{% static 'app-copy.js' %}"></script>
  <script src="{% static 'assets/vendor/highlight/highlight.pack.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}">hljs.initHighlightingOnLoad();</script>
  {% endif %}
{% endif %}
