<details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
  <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View data structure
        <span class="govuk-visually-hidden">
          for {% if source.schema %}"{{ source.schema }}"."{{ source.table }}"{% else %}{{ source.name }}{% endif %}
        </span>
      </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      {% for column, data_type in columns|slice:":12" %}
        <li>
          <strong>{{ column }}</strong> ({{ data_type }})
        </li>
      {% endfor %}
      {% if columns|length > 12 %}
        <a class="govuk-link"
           href="{{ source.get_column_details_url }}">
          View all columns <span
          class="govuk-visually-hidden">
            for {% if source.schema %}"{{ source.schema }}"."{{ source.table }}"{% else %}{{ source.name }}{% endif %}
        </span>
        </a>
      {% endif %}
    </ul>
  </div>
</details>
