<details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
  <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View data structure
        <span class="govuk-visually-hidden">
          for "{{ source_table.schema }}"."{{ source_table.table }}"
        </span>
      </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      {% for column, data_type in columns|slice:":12" %}
        <li>
          <strong>{{ column }}</strong> ({{ data_type }})
        </li>
      {% endfor %}
      {% if columns|length > 12 and dataset and source_table %}
        <a class="govuk-link"
           href="{% url 'datasets:source_table_column_details' dataset_uuid=dataset.id table_uuid=source_table.id %}">
          View all columns <span
          class="govuk-visually-hidden">for "{{ source_table.schema }}"."{{ source_table.table }}"</span>
        </a>
      {% endif %}
    </ul>
  </div>
</details>