<h1>About this service </h1>

<p>Use this service to turn a CSV file into a data table. The new table will be added to this catalogue item.</p>

<h2>When you should not use this service<h2>

    <p>Do not use this service if you're regularly uploading:</p>
        <ul>
           <li>a lot of datasets</li>
           <li>large datasets with lots of columns</li>
        </ul>

<p>We may be able to help you automate this type of upload. To get advice on if automation is right for your datasets,<a href="https://data.trade.gov.uk/support-and-feedback/">contact us.</a></p> 

<button>Start now</button> <a>Cancel</a>