<table class="data-insights">
    <caption class="data-insights__caption">Data insights</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="data-insights__header">{{ dataset.count }}</th>
        <th scope="col" class="data-insights__header">{{ dataset.filled_dicts }}/{{ dataset.source_tables_amount }}</th>
        <th scope="col" class="data-insights__header">{{ dataset.number_of_requests }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="data-insights__cell">Views in the last 28 days</td>
        <td class="data-insights__cell">Completed data dictionaries</td>
        <td class="data-insights__cell">Outstanding access requests</td>

    </tr>
    </tbody>
</table>

