<div
    class="govuk-body"
    <br>
    <p class="govuk-body">
        <img alt="Data table screenshot" src="/__django_static/assets/images/data_table.png" width="100%">
            <h2 class="govuk-heading-m">
                <a href="https://data-services-help.trade.gov.uk/data-workspace/how-to/start-using-data-workspace/filter-and-sort-data/">Preview Data</a>
            </h2>
        View, filter and download the data from within your browser to quickly look up information.
    </p>
    <p class="govuk-body">
        <img alt="Visualisation screenshot" src="/__django_static/assets/images/visualise_data.png" width="100%">
            <h2 class="govuk-heading-m">
                <a href="https://data-services-help.trade.gov.uk/data-workspace/how-to/see-tools-specific-guidance/quicksight/create-a-dashboard/">Visualise Data</a>
            </h2>
        Get an overview of the data with our pre-created visualisations or build your own.
    </p>
    <br>
    <p class="govuk-body">
        <img alt="Use tools screenshot" src="/__django_static/assets/images/using_tools.png" width="100%">
            <h2 class="govuk-heading-m">
                <a href="https://data-services-help.trade.gov.uk/data-workspace/how-to/use-tools/use-tools/">Use Tools</a>
            </h2>
        Manage and analyse available datasets and your own data with our range of tools.
    </p>
</div>  

