<style>

    .notification-banner__background {
      background-color: #003399;
    }
    
    .notification-banner-content {
        font-family: Arial;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: #ffffff;
        padding: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .notification-banner__link-text{
        font-family: Arial;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: #ffffff;
        padding: 10px;
        margin-bottom: 0px;
        margin-top: 0px;

    }

</style>

<div class="notification-banner__background">
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
        <p class="notification-banner-content">{{ banner.content }}
        </p>
        </div>
    </div>
</div>