
<style>
    .data-insights {
        font-family: arial, sans-serif;
        background-color: #1d70b8;
        width: 100%;
        color: white;
        padding: 10px 10px 10px 10px;
    }

    .data-insights__caption {
        line-height: 30px;
        text-align: left;
        padding: 20px 0 10px 20px;
        font-size: 24px;
        background-color: #1d70b8;
    }

    .data-insights__header {
        padding: 0 0 0 10px;
        vertical-align:top;
        font-size: 36px;
        font-weight: 700;
        font-style: normal;
        text-align: left;

    }

    .data-insights__cell {
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

     .data-insights__cell {
        vertical-align:top;
        text-align: left;
        font-size: 16px;
        padding: 5px 10px 10px 10px;
        font-weight: 700;
        font-style: normal;

     }

   
</style>

<table class="data-insights">
    <caption class="data-insights__caption">Data insights</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="data-insights__header">{{ dataset.count }}</th>
        <th scope="col" class="data-insights__header">{{ dataset.filled_dicts }} / {{ dataset.source_tables_amount }}</th>
        <th scope="col" class="data-insights__header">{{ dataset.number_of_requests }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="data-insights__cell">Views in the last 28 days</td>
        <td class="data-insights__cell">Completed data dictionaries</td>
        <td class="data-insights__cell">Outstanding access requests</td>

    </tr>
    </tbody>
</table>