<div class="govuk-grid-column-one-half">
  <div class="govuk-body">
    <span class="govuk-caption-m">
      {% if dataset.get_type_display == 'Data Cut' %}
        Download
      {% else %}
        {{ dataset.get_type_display }}
      {% endif %}
    </span>
    <h3 class="govuk-heading-m">{{ dataset.name }}</h3>
    <p>{{ dataset.short_description | truncatechars:225 }}</p>
    <a class="govuk-link" href="{% url "datasets:dataset_detail" dataset_uuid=dataset.id %}">Visit page</a>
  </div>
</div>
