<div class="govuk-warning-text__container" data-test="request-access-to-data">
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <div class="govuk-warning-text__text">
      <p class="govuk-body">
        <strong>
          <span class="govuk-warning-text__assistive govuk-visually-hidden">Warning</span>  
          Access to this data is restricted. To find out why check the usage restrictions.
          {%  if not type == 'visualisation' %}
            You can view the table structure but not the data itself.
          {% endif %}
        </strong>
      </p>
      {% if model.eligibility_criteria %}
        <p class="govuk-body">
          <a class="govuk-button"
            href="{% url 'datasets:eligibility_criteria' model.id %}">Request access to data</a>
        </p>
      {% else %}
          <a class="govuk-button"
            href="{% url 'request_access:dataset' model.id %}">Request access to data</a>
      {% endif %}
    </div>
  </div>
</div>


