<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <div class="govuk-warning-text__text">
    <strong>
      <span class="govuk-warning-text__assistive">Warning</span>
      Request access to the data to view these visuals.
    </strong>
    <p class="govuk-body govuk-!-margin-top-4">
      {% if model.eligibility_criteria %}
        <a class="govuk-button" href="{% url 'datasets:eligibility_criteria' model.id %}">Request access</a>
      {% else %}
        <a class="govuk-button" href="{% url 'request_access:dataset' model.id %}">Request access</a>
      {% endif %}
    </p>
  </div>
</div>
