{% load waffle_tags %}
<h1 class="search-field__header govuk-heading-l"><lable for="app-site-search__input">{{title}}</lable></h1>
{% if subTitle %}
<p class="govuk-body-l">{{subTitle}}</p>
{% endif %}
<div class="search-field">
  {% flag ACCESSIBLE_AUTOCOMPLETE_FLAG %}
  <div class="app-site-search" data-module="app-search">
    <label class="govuk-visually-hidden" for="app-site-search__input"
      >Search by dataset name or description</label
    >
    <div
      class="search-field-wrapper"
      id="my-autocomplete-container"
      data-test="search-input"
    ></div>
    <input
      class="search-field__submit"
      type="submit"
      value="Search"
      data-test="search-submit"
    />
  </div>
  {% if gettingStartedLink %}
  <p class="govuk-body search-field__footer-link">
    <a href="/welcome" class="search-field__footer__link"
      >Getting started as a new user</a
    >
  </p>
  {% endif %} {% else %}
  <div class="search-field-wrapper govuk-!-padding-bottom-6">
    <input
      type="text"
      name="q"
      id="search"
      title="Search"
      class="govuk-input search-field__item search-field__input js-class-toggle"
      value="{{ query }}"
      aria-controls="search-summary-accessible-hint-wrapper"
      placeholder="Search by dataset name or description"
    />
    <div class="search-field-submit-wrapper search-field__item">
      <input class="search-field__submit" type="submit" value="Search" />
    </div>
  </div>
  {% endflag %}
</div>
