{% load waffle_tags %}
<h1 class="search-field__header govuk-heading-l"><label for="app-site-search__input">{{title}}</label></h1>
{% if subTitle %}
<p class="govuk-body-l">{{subTitle}}</p>
{% endif %}
<div class="search-field">
  <div class="app-site-search" data-module="app-search">
    <div
      class="search-field-wrapper"
      id="my-autocomplete-container"
      data-test="search-input"
    ></div>
    <input
      class="search-field__submit"
      type="submit"
      value="Search"
      data-test="search-submit"
    />
  </div>
  {% if gettingStartedLink %}
  <p class="govuk-body search-field__footer-link">
    <a href="/welcome" class="search-field__footer__link"
      >Getting started as a new user</a
    >
  </p>
  {% endif %}
</div>