{% load core_tags waffle_tags %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      {{ application_name }}{% if tool.tag %}&nbsp;<strong class="govuk-tag {{ tool.tag_extra_css_class }}">{{ tag }}</strong>{% endif %}
    </h3>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      {{ application_summary }}
    </p>
  </div>

  <div class="govuk-grid-column-one-half">
    {% if not has_access %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half"><p class="govuk-body"></p></div>
        <div class="govuk-grid-column-one-half">
            {% flag TOOLS_SELF_CERTIFY %}
                  <a class="govuk-button govuk-button--secondary" href="{% url 'request-access:self-certify-page' %}">Get access to {{ application_name }}</a>
                {% else %}
                  <a class="govuk-button govuk-button--secondary" href="{% url 'request-access:index' %}">Request access to {{ application_name }}</a>
            {% endflag %}
        </div>
      </div>
    {% elif instance %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <form action="{% url 'applications:tools' %}" method="POST" style="display: inline" class="govuk-!-width-full">
            {% csrf_token %}
            <input type="hidden" name="redirect_target" value="applications:tools">
            <button class="govuk-button govuk-button--warning" name="public_host" value="{{ instance.public_host }}" type="submit" style="float: right;">
              Stop
            </button>
          </form>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-grid-row">
            <form action="{{ application_url }}" method="GET" style="display: inline-block" class="govuk-!-width-full" target="_blank">
              <button class="govuk-button govuk-!-width-full">Resume {{ application_name }}</button>
            </form>
          </div>
        {% if application_help_link %}
          <div class="govuk-grid-row">
            <p class="govuk-body govuk-!-text-align-centre">
              <a class="govuk-link" href="{{ application_help_link }}" target="_blank" rel="noopener noreferrer">Help with {{ application_name }}</a>
            </p>
          </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="govuk-grid-row">
        {% if customisable_instance %}
          <form action="{{ application_url }}" method="GET" style="display: inline-block" class="govuk-!-width-full" target="_blank">
            <div class="govuk-grid-column-one-half">
              <p class="govuk-body">
                <strong>Size</strong>
                <br>{{ tool_configuration.size_config.name }}
                <br>({{ tool_configuration.size_config.cpu|spawner_cpu }} CPU, {{ tool_configuration.size_config.memory|spawner_memory }} memory)
                <br>
                <a class="govuk-link" href="{% url 'applications:configure_tool_size' application_host_basename %}">Change</a>
              </p>
            </div>
            <div class="govuk-grid-column-one-half">
              <div class="govuk-grid-row">
                <button class="govuk-button govuk-!-width-full">Start {{ application_name }}</button>
              </div>
            {% if application_help_link %}
              <div class="govuk-grid-row">
                <p class="govuk-body govuk-!-text-align-centre">
                  <a class="govuk-link" href="{{ application_help_link }}" target="_blank" rel="noopener noreferrer">Help with {{ application_name }}</a>
                </p>
              </div>
            {% endif %}
            </div>
          </form>
        {% else %}
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body"></p>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">
              <a class="govuk-button govuk-!-width-full" href="{{ application_url }}" target="_blank">Open {{ application_name }}</a>
            </div>
            {% if application_help_link %}
            <div class="govuk-grid-row">
              <p class="govuk-body govuk-!-text-align-centre">
                <a class="govuk-link" href="{{ application_help_link }}" target="_blank" rel="noopener noreferrer">Help with {{ application_name }}</a>
              </p>
            </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% if trailing_horizontal_rule %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endif %}
