<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      {{ application_name }}
    </h3>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body">
      {{ application_summary }}
      {% if application_help_link %}
      <a class="govuk-link" href="{{ application_help_link }}" target="_blank" rel="noopener noreferrer">Read&nbsp;more</a>
      {% endif %}
    </p>
  </div>

  <div class="govuk-grid-column-one-half">
    {% if not has_access %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half"><p class="govuk-body"></p></div>
        <div class="govuk-grid-column-one-half">
          <a class="govuk-button govuk-button--secondary" href="{% url 'support' %}">Request access to {{ application_name }}</a>
        </div>
      </div>
    {% elif instance %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <form action="{% url 'applications:tools' %}" method="POST" style="display: inline" class="govuk-!-width-full">
            {% csrf_token %}
            <input type="hidden" name="redirect_target" value="applications:tools">
            <button class="govuk-button govuk-button--warning" name="public_host" value="{{ instance.public_host }}" type="submit" style="float: right;">
              Stop
            </button>
          </form>
        </div>
        <div class="govuk-grid-column-one-half">
          <form action="{{ application_url }}" method="GET" style="display: inline-block" class="govuk-!-width-full">
            <button class="govuk-button govuk-button--secondary govuk-!-width-full">Open {{ application_name }}</button>
          </form>
        </div>
      </div>
    {% else %}
      <div class="govuk-grid-row">
        {% if customisable_instance %}
          <form action="{{ application_url }}" method="GET" style="display: inline-block" class="govuk-!-width-full">
            <div class="govuk-grid-column-one-half">
              <div class="govuk-form-group inline-form-group">
                <select class="govuk-select" id="sort" name="__memory_cpu">
                  <option value="512_256">Small: 0.25 CPU, 0.5GB of memory</option>
                  <option value="8192_1024" selected>Default: 1 CPU, 8GB of memory</option>
                  <option value="16384_2048">Large: 2 CPU, 16GB of memory</option>
                  <option value="30720_4096">Extra large: 4 CPU, 30GB of memory</option>
                </select>
              </div>
            </div>
            <div class="govuk-grid-column-one-half">
              <button class="govuk-button govuk-button--secondary govuk-!-width-full">Open {{ application_name }}</button>
            </div>
          </form>
        {% else %}
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body"></p>
          </div>
          <div class="govuk-grid-column-one-half">
            <a class="govuk-button govuk-button--secondary govuk-!-width-full" href="{{ application_url }}">Open {{ application_name }}</a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% if trailing_horizontal_rule %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endif %}
