<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <div class="govuk-warning-text__text">
        <strong>
            <span class="govuk-warning-text__assistive">Warning</span>
            {% if show_dataset_access_message and not show_tools_access_message %}
                You do not have permission to access {{ thing }}.
            {% elif show_dataset_access_message and show_tools_access_message %}
                You do not have permission to access {{ thing }}. You will also need tools access to use the data.
            {% elif not show_dataset_access_message and show_tools_access_message %}
                You need tools access to use the data.
            {% endif %}
            <br>
        </strong>
    </div>
</div>

{% if model.eligibility_criteria and show_dataset_access_message %}
    <a class="govuk-button"
       href="{% url 'datasets:eligibility_criteria' model.id %}">Request access</a>
{% else %}
    <a class="govuk-button"
       href="{% url 'request_access:dataset' model.id %}">Request access</a>
{% endif %}
