{% with id=widget.attrs.id %}
<div class="govuk-form-group {% if widget.errors %}govuk-form-group--error{% endif %}">
  {% if widget.label_is_heading %}
  <{{ widget.heading }} class="{{ widget.heading_class }}">{{ widget.label }}</{{ widget.heading }}>
  {% else %}
    <label class="govuk-label govuk-label--{{ widget.label_size }} {{ widget.extra_label_classes }}" for="{{ id }}">
      {{ widget.label }}
    </label>
  {% endif %}

  {% if widget.help_html %}
  <div id="{{ id }}-hint">
    {{ widget.help_html }}
  </div>
  {% elif widget.help_text %}
  <div id="{{ id }}-hint" class="govuk-hint">
    {{ widget.help_text }}
  </div>
  {% endif %}

  {% if widget.errors %}
  <span id="{{ id }}-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error: </span>{{ widget.errors.0 }}
  </span>
  {% endif %}

  {% if widget.show_selected_file and widget.value %}
    <div id="{{ id }}-currently-selected-hint" class="govuk-hint currently-selected-file">
      Currently selected file: {{ widget.value }}
    </div>
  {% endif %}

  <input
          class="govuk-file-upload"
          type="file"
          name="{{ widget.name }}"
          {% if widget.help_text %}aria-describedby="{{ id }}-hint" {% endif %}
          {% include "django/forms/widgets/attrs.html" %}
          {% include "design_system/partial/data_attributes.html" %}
  />
</div>
{% endwith %}
