{% with id=widget.attrs.id %}
<div class="govuk-form-group {% if widget.errors %}govuk-form-group--error{% endif %}">
  <fieldset class="govuk-fieldset">
      {% if widget.help_html %}
      <div id="{{ id }}-hint">
        {{ widget.help_html }}
      </div>
      {% elif widget.help_text %}
      <span id="{{ id }}-hint" class="govuk-hint">
        {{ widget.help_text }}
      </span>
      {% endif %}

      {% if widget.errors %}
      <span id="{{ id }}-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error: </span>{{ widget.errors.0 }}
      </span>
      {% endif %}
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" name="{{ widget.name }}" type="checkbox" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>

          <label class="govuk-label govuk-checkboxes__label" for="{{ widget.attrs.id }}">
            {{ widget.label }}
          </label>
        </div>
      </div>
  </fieldset>
</div>
{% endwith %}
