{% load static %}
<!DOCTYPE html>
<html lang="en-GB" class="govuk-template">

<head>
  <meta charset="utf-8">
  <title>{% block page_title %}Data Workspace{% endblock %}</title>
  <base href="{{ root_href }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta property="og:image" content="{% get_static_prefix %}assets/images/govuk-opengraph-image.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{% get_static_prefix %}assets/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="{% get_static_prefix %}assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="{% get_static_prefix %}assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{% get_static_prefix %}assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{% get_static_prefix %}assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{% get_static_prefix %}assets/images/govuk-apple-touch-icon.png">
  <link rel="stylesheet" href="{% get_static_prefix %}govuk-frontend-including-fonts-3.3.0-v1.min.css">
  <link rel="stylesheet" href="{% get_static_prefix %}data-workspace.css">


  {% if not debug %}
    {% if gtm_container_id %}
      <!-- Google Tag Manager's "Data Layer" -->
      <script nonce="{{ request.csp_nonce }}">
        window.dataLayer = window.dataLayer || [];
      </script>
      {% block extraGTMDataLayer %}
      {% endblock %}
      <!-- End Google Tag Manager's "Data Layer" -->
      
      <!-- Google Tag Manager -->
      <script nonce="{{ request.csp_nonce }}">
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl+'{{ gtm_container_environment_params | safe }}';
      var n=d.querySelector('[nonce]');n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));
      f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ gtm_container_id }}');
      </script>
      <!-- End Google Tag Manager -->
    {% else %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
      <script nonce="{{ request.csp_nonce }}" async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_site_id }}"></script>
      <script nonce="{{ request.csp_nonce }}">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ google_analytics_site_id }}');
      </script>
    {% endif %}
  {% endif %}
  
  {% block head %}{% endblock %}
</head>

<body class="govuk-template__body">
  {% if not debug and gtm_container_id %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_container_id }}{{ gtm_container_environment_params | safe }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  <script nonce="{{ request.csp_nonce }}">
    document.body.className = document.body.className + ' js-enabled';
  </script>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logotype">
        <a href="{{ root_href }}" class="govuk-header__link govuk-header__link--service-name">
          Data Workspace
        </a>
      </div>
     <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item{% if request.get_full_path == '/' %} govuk-header__navigation-item--active{% endif %}">
            <a class="govuk-header__link" href="{{ root_href }}">
              Home
            </a>
          </li>
          {% if perms.applications.start_all_applications or perms.applications.access_appstream %}
          {% url 'applications:tools' as tools_url %}
          <li class="govuk-header__navigation-item{% if request.get_full_path == tools_url %} govuk-header__navigation-item--active{% endif %}">
            <a class="govuk-header__link" href="{{ tools_url }}">
              Tools
            </a>
          </li>
          {% endif %}
          {% if can_see_visualisations_tab %}
          {% url 'visualisations:root' as visualisations_root_url %}
          <li class="govuk-header__navigation-item{% if request.get_full_path == visualisations_root_url %} govuk-header__navigation-item--active{% endif %}">
            <a class="govuk-header__link" href="{{ visualisations_root_url }}">
              Visualisations
            </a>
          </li>
          {% endif %}
          {% url 'about' as about_url %}
          <li class="govuk-header__navigation-item{% if request.get_full_path == about_url %} govuk-header__navigation-item--active{% endif %}">
            <a class="govuk-header__link" href="{{ about_url }}">
              About
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="{% url 'support' %}">
              Support and feedback
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://data-services-help.trade.gov.uk/data-workspace">
              Help centre
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">alpha</strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="{% url 'support' %}">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    {% block breadcrumbs %}{% endblock %}

    <main class="govuk-main-wrapper" id="main-content" role="main">
      {% for message in messages %}
      <div class="govuk-panel govuk-panel--confirmation govuk-panel--confirmation--left govuk-!-padding-5 govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title govuk-!-font-size-27">
          {{ message }}
        </h1>
      </div>
      {% endfor %}

      {% block inner_content %}{% endblock %}
    </main>
  </div>

  <footer class="govuk-footer" role="contentinfo">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="{{ root_href }}">
                  Home
                </a>
              </li>
              {% if perms.applications.start_all_applications or perms.applications.access_appstream %}
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="{{ tools_url  }}">
                  Tools
                </a>
              </li>
              {% endif %}
              {% if can_see_visualisations_tab %}
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="{{ visualisations_root_url  }}">
                  Visualisations
                </a>
              </li>
              {% endif %}
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="{{ about_url  }}">
                  About
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="{% url 'support' %}">
                  Support and feedback
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="https://data-services-help.trade.gov.uk/data-workspace">
                  Help centre
                </a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a target="_blank" class="govuk-footer__link" href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/data-workspace-privacy-policy">
                  Privacy Policy
                </a>
              </li>
            </ul>
          <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
            <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
          </svg>
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
        </div>
      </div>
    </div>
  </footer>

  <script nonce="{{ request.csp_nonce }}" src="{% get_static_prefix %}govuk-frontend-3.3.0.min.js"></script>
  <script nonce="{{ request.csp_nonce }}">
    window.GOVUKFrontend.initAll();
  </script>
</body>
