{% load static core_filters waffle_tags %}
<!DOCTYPE html>
<html lang="en-GB" class="govuk-template">

<head>
  <meta charset="utf-8">
  <title>{% block page_title %}Data Workspace{% endblock %}</title>
  <base href="{{ root_href }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta property="og:image" content="{% static 'assets/images/govuk-opengraph-image.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
  <link rel="mask-icon" href="{% static 'assets/images/govuk-mask-icon.svg' %}" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/govuk-apple-touch-icon-180x180.png' %}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'assets/images/govuk-apple-touch-icon-167x167.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/images/govuk-apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" href="{% static 'assets/images/govuk-apple-touch-icon.png' %}">
  <link rel="stylesheet" href="{% static 'data-workspace.css' %}">
  {# Fallback to standard tables if javascript is disabled#}
  <noscript><style>.enhanced-table { display: table }</style></noscript>

  {% if GTM_ENABLED %}
    {% block initialGTMDataLayer %}
      <script nonce="{{ request.csp_nonce }}">
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          "event": "pageLoaded",
          "user": {
            "status": "logged-in",
            "id": "{{ SSO_USER_ID }}"
          },
          "page": {
            "type": "{{ GTM_PAGE_TYPE }}"
          }
        });
      </script>
    {% endblock %}
  {% endif %}

  {% include 'partials/gtm_head.html' %}

  {% block head %}{% endblock %}
</head>

<body id="body" class="govuk-template__body">
  {% include 'partials/gtm_body.html' %}

  <script nonce="{{ request.csp_nonce }}">
    document.body.className = document.body.className + ' js-enabled';
  </script>

  <a href="{{ request.path }}#main-content" class="govuk-skip-link">Skip to main content</a>
  <header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container">
      <div class="govuk-header__logotype">
        <a href="{{ root_href }}" class="govuk-header__link govuk-header__link--service-name govuk-!-padding-left-2">
          Data Workspace
        </a>
      </div>
    </div>
  </header>

  <div>
    {% block breadcrumbs %}{% endblock %}
    {% block go_back %}{% endblock %}
  </div>

  {% block main %}{% endblock %}

  <script nonce="{{ request.csp_nonce }}" src="{% get_static_prefix %}govuk-frontend-3.14.0.min.js"></script>
  <script nonce="{{ request.csp_nonce }}">
    window.GOVUKFrontend.initAll();
  </script>

  {% block footer_scripts %}
  {% endblock %}
</body>
</html>
