{% extends '_main.html' %}
{% load static %}

{% block page_title %}About - {{ block.super }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">About</h1>
    <p class="govuk-body-l">
      Data Workspace is where DIT staff and partners can securely access, produce and share data relevant to DIT.
    </p>
    <p class="govuk-body">It:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>helps DIT get further insight from the data it holds</li>
      <li>enables you to work effectively, efficiently and collaboratively to deliver DIT’s objectives</li>
      <li>is designed to protect data and supports DIT’s legal obligations relating to data protection</li>
    </ul>
    <p class="govuk-body">Data Workspace lets you securely store your DIT data and access:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>up to date data through a single searchable catalogue of datasets</li>
      <li>powerful and accessible tools to analyse and visualise data</li>
      <li>dashboards to visualise data</li>
      <li>a <a class="govuk-link" href="https://data.trade.gov.uk/support-and-feedback/">support team</a> that can help you in setting up you and your team's data requirements.</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Datasets</h2>
    <p class='govuk-body'>
      Data Workspace is available for all DIT staff and partners.
    </p>
    <p class='govuk-body'>
      Users can access Data Workspace if they currently have access to Data Hub or Digital Workspace.
    </p>
    <p class='govuk-body'>
      Where datasets contain personal data or other sensitive information, you will need to ask for access because of DIT’s legal obligation to data protection. You’ll need to request access on the individual dataset pages. We aim to provide access within 5 working days.
    </p>
    <p class='govuk-body'>
      Data Workspace offers a growing <a class="govuk-link" href="https://data.trade.gov.uk/">catalogue</a> of data from across DIT. </p>
    <p class = "govuk-body"><a class="govuk-link" href="https://data.trade.gov.uk/support-and-feedback/">Let our support team know</a> if you want a dataset to be added.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Data tools</h2>
    <p class='govuk-body'>
      Users that prefer to gain insight themselves into their data can do so directly on Data Workspace. It offers a range of <a class="govuk-link" href="{% url 'applications:tools'%}">powerful analysis and data visualisation tools</a>. You will be able to use SQL, R or Python coding languages or be willing to learn them.
    </p>
    <p class="govuk-body">
      We also offer an accessible dashboarding tool, for those without coding skills.
    </p>
    <p class="govuk-body">
      See the <a class="govuk-link" href="{% url 'applications:tools'%}">tools we offer and request access to them</a>.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Using and improving Data Workspace</h2>
    <p class='govuk-body'>Read our easily accessible <a class="govuk-link" href="https://data-services-help.trade.gov.uk/data-workspace/how-to/">user guides</a> on getting started on the Data Workspace and using the tools.</p>
    <p class='govuk-body'>You can also stay up to date with the latest features and updates on Data Workspace by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>joining the Data show and tell sessions every second Wednesday</li>
      <li>joining our mailing list for monthly Sprint notes</li>
      <li>joining the Data Workspace Community channel</li>
    </ul>
    <p class="govuk-body">
      Contact our <a class="govuk-link" href="https://data.trade.gov.uk/support-and-feedback/">support team</a> for further information on how to join these.
    </p>
    <p class="govuk-body">You can also <a class="govuk-link" href="{% url 'support' %}">give feedback</a> to help us improve the service.</p>
  </div>
</div>

{% endblock %}
