{% extends '_main.html' %}

{% block head %}
    {{ block.super }}
    <script nonce="{{ request.csp_nonce }}">
        window.addEventListener('DOMContentLoaded', () => {
            var element = document.getElementById('fleet-status');
            function getStatus(url) {
                return new Promise((resolve, reject) => {
                    var request = new XMLHttpRequest();
                    request.addEventListener('load', () => {
                        resolve(request.response);
                    });
                    request.addEventListener('error', reject);
                    request.open('GET', url);
                    request.send();
                });
            }
            async function refreshStatus() {
                var status = await getStatus('/appstream-admin/fleetstatus');
                element.textContent = status;
                window.setTimeout(refreshStatus, 15000);
            }
            window.setTimeout(refreshStatus, 15000);
        });
    </script>
{% endblock %}

{% block inner_content %}
  <h1 class="govuk-heading-l">Fleet admin</h1>
      <form method="post" action='/appstream-admin/'>
                {% csrf_token %}
                {% for field in form %}
                    <div class="govuk-form-group">
                        <label class="govuk-label" for=“{{ field.name }}“>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
        <button class="govuk-button" name="submit" value="Submit" type="submit">Save</button><br><br>
        <hr class=“govuk-section-break govuk-section-break--l govuk-section-break--visible”><br><br>
      </form>
      <form method="post" action='/appstream-restart/'>
          <br><h2 class="govuk-heading-m">Appstream fleet status: <span id="fleet-status">{{ fleet_status }}</span></h2><br><br>
                {% csrf_token %}
        <button class="govuk-button" name="restart" value="Restart" type="submit">Restart fleet</button>
      </form>
{% endblock %}
