{% extends '_base.html' %}
{% load static %}

{% block page_title %}{{ model.name }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>

            <li class="govuk-breadcrumbs__list-item">
                {{ model.name }}
            </li>
            {% if perms.datasets_datagrouping_change %}
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link"
                       href="{% url 'admin:datasets_datagrouping_change' model.id %}">[Edit]</a>
                </li>
            {% endif %}

        </ol>
    </div>
{% endblock %}

{% block inner_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ model.name }}</h1>
            <p class="govuk-body">
                {{ model.description | linebreaksbr }}
            </p>
            {% if datasets or not reference_datasets %}
              <h2 class="govuk-heading-l govuk-!-margin-top-8">Available datasets</h2>
            {% endif %}
            {% for set in datasets %}
                <h2 class="govuk-heading-m">
                    <a class="govuk-link" href="{% url 'catalogue:dataset_fullpath' model.slug set.slug %}">{{ set.name }}</a>
                    {% if perms.datasets_dataset_change %}
                        <a class="govuk-link"
                           href="{% url 'admin:datasets_dataset_change' set.id %}">[Edit]</a>
                    {% endif %}
                </h2>
                <p class="govuk-body">{{ set.short_description }}</p>
                {% empty %}
                  {% if not reference_datasets %}
                    <h2 class="govuk-heading-s">
                        No datasets available
                    </h2>
                  {% endif %}
            {% endfor %}
	    {% if datasets and perms.datasets_dataset_add %}
                <p>
                    <a class="govuk-link"
                       href="{% url 'admin:datasets_dataset_add' %}">[New]</a>
                </p>
            {% endif %}

            {% if reference_datasets or not datasets %}
		<h2 class="govuk-heading-l govuk-!-margin-top-8">Reference datasets</h2>
            {% endif %}
            {% for set in reference_datasets %}
                <h2 class="govuk-heading-m">
                    <a class="govuk-link" href="{% url 'catalogue:reference_dataset' model.slug set.slug %}">
                        {{ set.name }}
                    </a>
                    {% if perms.datasets_referencedataset_change %}
                        &nbsp;<a class="govuk-link" href="{% url 'admin:datasets_referencedataset_change' set.id %}">[Edit]</a>
                    {% endif %}
                </h2>
                <p class="govuk-body">{{ set.short_description }}</p>
		{% empty %}
                {% if not datasets %}
                    <h2 class="govuk-heading-s">
                        No reference datasets available
                    </h2>
                {% endif %}
	    {% endfor %}
	    {% if reference_datasets and perms.datasets_referencedataset_add %}
                <p>
                    <a class="govuk-link"
                       href="{% url 'admin:datasets_referencedataset_add' %}">[New]</a>
                </p>
	    {% endif %}

	    {% if joint_datasets or not datasets %}
	        <h2 class="govuk-heading-l govuk-!-margin-top-8">Joint datasets</h2>
	    {% endif %}
	    {% for set in joint_datasets %}
                <h2 class="govuk-heading-m">
                    <a class="govuk-link" href="{% url 'catalogue:reference_dataset' model.slug set.slug %}">
                        {{ set.name }}
                    </a>
                    {% if perms.datasets_referencedataset_change %}
                        &nbsp;<a class="govuk-link" href="{% url 'admin:datasets_referencedataset_change' set.id %}">[Edit]</a>
                    {% endif %}
                </h2>
                <p class="govuk-body">{{ set.short_description }}</p>
		{% empty %}
                {% if not datasets %}
                    <h2 class="govuk-heading-s">
                      No joint datasets available
                    </h2>
                {% endif %}
	    {% endfor %}
	    {% if reference_datasets and perms.datasets_referencedataset_add %}
                <p>
                    <a class="govuk-link"
                       href="{% url 'admin:datasets_referencedataset_add' %}">[New]</a>
                </p>
	    {% endif %}

            <h2 class="govuk-heading-l govuk-!-margin-top-8">Additional Information</h2>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Published Date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ model.created_date| date:"d/m/Y" }}
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Updated date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ model.modified_date| date:"d/m/Y"  }}
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Information Asset Manager
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% include 'partials/contact.html' with model=model.information_asset_manager only %}
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Information Asset Owner
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% include 'partials/contact.html' with model=model.information_asset_owner only %}
                    </dd>
                </div>

            </dl>
        </div>
    </div>

{% endblock %}
