{% extends '_main.html' %}

{% block page_title %}Eligibility criteria - {{ dataset.name }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">Eligibility criteria
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Eligibility criteria for</span>
            <h1 class="govuk-heading-l">{{ dataset.name }}</h1>

            <div class="govuk-inset-text">
              {{ dataset.restrictions_on_usage }}
            </div>

              <h2 class="govuk-heading-m">
                Are you
              </h2>

            <ul class="govuk-list govuk-list--bullet">
              {% for criteria in dataset.eligibility_criteria %}
                <li>{{ criteria }}</li>
              {% endfor %}
            </ul>
            <form method="post">
              <div class="govuk-form-group">
                {% csrf_token %}

                <fieldset class="govuk-fieldset">

                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="meet_criteria" name="meet_criteria" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="meet_criteria">
                              Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="meet_criteria-2" name="meet_criteria" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="meet_criteria-2">
                              No
                            </label>
                        </div>
                    </div>
                </fieldset>
              </div>
              {% if access_request %}
                <input type="hidden" name="access_request" value="{{ access_request }}" />
              {% endif %}
              <div class="govuk-form-group">
                  <button data-prevent-double-click="true" type="submit" class="govuk-button">Continue
                  </button>
              </div>
            </form>
        </div>
    </div>
{% endblock %}
