{% extends '_base.html' %}

{% block page_title %}Eligibility criteria not met - {{ dataset.name }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link"
                   href="{% url 'catalogue:datagroup_item' dataset.grouping.slug %}">{{ dataset.grouping.name }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">Eligibility criteria not met
            </li>
        </ol>
    </div>
{% endblock %}

{% block inner_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, we can't give you access to this dataset.</h1>
            <p class="govuk-body">
              Unfortunately, you don't meet the initial eligibility criteria to access this dataset.
            </p>
            <p class="govuk-body">
              If you think you should be able to access it, <a href="{% url 'support' %}">contact support</a>.
            </p>

        </div>
    </div>
{% endblock %}
