{% extends '_main.html' %}

{% block page_title %}You are not allowed to access this page - {{ block.super }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You are not allowed to access this page</h1>

        <p class="govuk-body">Ensure you are signed into ZScaler.</p>

        <p class="govuk-body">If you continue to be unable to access this page, <a class="govuk-link" href="{% url 'support' %}">contact the Data Workspace Support Team</a>.</p>
      </div>
    </div>
{% endblock %}
