{% extends 'running_base.html' %}
{% load static %}
{% block extra_head %}
  <script nonce="{{ request.csp_nonce }}" src="{% static 'quicksight-embedding-js-sdk-1.0.17.min.js' %}"></script>
{% endblock extra_head %}
{% block javascript %}
  <script nonce="{{ request.csp_nonce }}">
    dashboard = QuickSightEmbedding.embedDashboard({
        url: '{{ visualisation_src|safe }}' + window.location.hash,
        container: document.getElementById('visualisation'),
        locale: "en-gb",
        printEnabled: true,
        height: "AutoFit",
        iframeResizeOnSheetChange: true,
        loadingHeight: "1000px"
    });

    dashboard.on("SHOW_MODAL_EVENT", function() {
        window.scrollTo({
            top: 0 // iFrame top position
        });
    });
  </script>
{% endblock javascript %}
