{% extends '_main.html' %}

{% block page_title %}Request access - {{ dataset.name }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">Request access
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Request access</h1>
            <p class="govuk-body">
              Complete the form below if you need to access this {% if is_visualisation %}data visualisation{% else %}dataset{%endif%} in order to do your job.
            </p>
            <p class="govuk-body">
              Access will be provided on an individual basis and in line with the <a href="https://www.gov.uk/data-protection" class="govuk-link govuk-link--no-visited-state">Data Protection Act</a>.
            </p>
          <br />
            <p class="govuk-body">
              <span class="govuk-label govuk-!-font-weight-bold">{% if is_visualisation %}Data visualisation{% else %}Dataset{%endif%}</span>
              <a href="{{ dataset.get_absolute_url }}" class="govuk-link govuk-link--no-visited-state">
                  {{ dataset.name }}
              </a>
            </p>
            <form method="post">
                {% csrf_token %}
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="email">Contact email</label>
                        <span class="govuk-hint">
                             You are logged in as {{ authenticated_user.email }}
                        </span>
                        <input class="govuk-input" type="email" name="email" value="{{ authenticated_user.email }}" id="email" required>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="goal">
                          Why do you need this data{%if is_visualisation %} visualisation{% endif %}?
                        </label>
                        <span class="govuk-hint">
                          For example, I need to create a report for my senior management team to show performance trends and delivery against targets.
                        </span>
                        <textarea class="govuk-textarea" id="goal" name="goal" rows="5"
                                  required></textarea>
                    </div>
                    <div class="govuk-form-group">
                        <button data-prevent-double-click="true" type="submit" class="govuk-button">Submit
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
