{% extends '_main.html' %}

{% block page_title %}Access request confirmed - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">Request access
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Request access</h1>

            <p class="govuk-body">
                Your request has been received. It will normally be completed within 5 working days.
            </p>
            <p class="govuk-body">
                Your reference is: <strong>{{ ticket }}</strong>
            </p>
            <p class="govuk-body">
                You will receive a confirmation email to the address you provided.
            </p>

            {% if dataset %}
                <p class="govuk-body">
                    Return to
                    <a class="govuk-link" href="{{ dataset.get_absolute_url }}">
                        {{ dataset.name }}
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
