{% extends '_base.html' %}

{% block head %}
    {{ block.super }}
    <style>
        .btn-stop {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block inner_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Data at DIT</h1>
            {% if groupings %}
                <p class="govuk-body">
                    The DIT Data Workspace shows the different datasets that the department creates, uses and publishes.
                </p>
            {% endif %}

            {% for grouping in groupings %}
                <h3 class="govuk-heading-m">
                    <a class="govuk-link" href="{% url 'catalogue:datagroup_item' grouping.slug %}">{{ grouping.name }}</a>
                </h3>
                <p class="govuk-body">{{ grouping.short_description }}</p>
            {% endfor %}

            {% if database_schema_tables %}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <ul class="govuk-list">
                    {% for database, schema, table in database_schema_tables %}
                        <li><a class="govuk-link"
                               href="{% url 'table_data' database schema table %}">{{ database }}
                            / {{ schema }} / {{ table }}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}

            {% if not groupings and not database_schema_tables %}
                <p class="govuk-body">No data is available.</p>
            {% endif %}

        </div>

        <div class="govuk-grid-column-one-third">
            {% if perms.applications.start_all_applications or perms.applications.access_appstream %}
                <h1 class="govuk-heading-l">Tools</h1>

                <dl class="govuk-summary-list govuk-summary-list">
                    {% if perms.applications.start_all_applications %}
                        {% for application in applications %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    <a class="govuk-link" href="{{ application.link }}"
                                       style="font-weight: normal;">{{ application.nice_name }}</a>
                                </dt>
                                <dd class="govuk-summary-list__actions">
                                    {% if application.instance %}
                                        <form action="{% url 'applications:tools' %}" method="POST" style="display: inline">
                                            {% csrf_token %}
                                            <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 btn-stop"
                                                    name="public_host" value="{{ application.instance.public_host }}"
                                                    type="submit">Stop
                                            </button>
                                        </form>
                                    {% endif %}
                                </dd>
                            </div>
                        {% endfor %}
                        {% if settings.your_files_enabled %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <a class="govuk-link" href="{% url 'files' %}"
                                   style="font-weight: normal;">Your files</a>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>
                        {% endif %}
                    {% endif %}
                    {% if appstream_url != "https:///" and perms.applications.access_appstream %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <a class="govuk-link" href="{{ appstream_url }}" style="font-weight: normal;">SPSS /
                                    STATA</a>
                            </dt>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>
                    {% endif %}
                </dl>
            {% endif %}
        </div>

    </div>
{% endblock %}
