{% extends '_main.html' %}
{% load static %}
{% load waffle_tags %}

{% block page_title %}Tools - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Tools
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

{% with tools_count=RUNNING_TOOLS.count %}
{% if tools_count > 0 %} 
  <div class="govuk-notification-banner" role="region"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">   
            <p class="govuk-notification-banner__heading" style="max-width: none;">
                You {% if tools_count == 1 %}are running{% else %} have {% endif %}
                {% if tools_count == 1 %} {{ RUNNING_TOOLS.0.application_template.nice_name }}. {% else %}
                  {% for tool in RUNNING_TOOLS %}
                   {{ tool.application_template.nice_name }}{% if forloop.revcounter == 2 %} and {% elif not forloop.last %}, {% endif %}
                  
                   {% endfor %} 
                   running.

                 {% endif %}              
                You can end your session{{ tools_count|pluralize }} below if you are not using

                {% if tools_count == 1 %} it{% else %} them{% endif %}. 
              <a class="govuk-notification-banner__link" href=https://data-services-help.trade.gov.uk/data-workspace/how-to/use-tools/about-data-workspace-tools/ >Why close Tools?</a>
            </p>   
    
    </div>
  </div>
  {% endif %}
  {% endwith %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Tools</h1>
    </div>
  </div>
  {# removed until new designs are ready for tools access warning message  #}
  <!-- {% if not perms.applications.start_all_applications %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <div class="govuk-warning-text__text">
            <strong>
              <span class="govuk-warning-text__assistive">Warning</span>
              You need to request access to use tools.
            </strong>
          </div>
        </div>
        <a class="govuk-button govuk-button--primary" href="{% url 'request_access:index' %}">Request access</a>
      </div>
    </div>
  {% endif %} -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-margin-bottom-8">
        Data Workspace offers access to a range of analysis tools that you can use with datasets in the catalogue.
        Find out more about tools and how to start using them in the
        <a class="govuk-link" href="https://data-services-help.trade.gov.uk">Help Centre.</a>
      </p>

      {% for key, group in tools.items %}
        <div class="govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-l">{{ group.group_name }}</h2>
          <div class="govuk-inset-text">Use these tools to
            {% if group.group_link %}
              <a class="govuk-link" href="{{ group.group_link }}" target="_blank" rel="noopener noreferrer">
                {{ group.group_description }}
              </a>
            {% endif %}
          </div>
          {% for tool in group.tools %}
            {% include 'partials/tool_section_wrapper.html' with tool=tool %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
