{% extends '_main.html' %}
{% load static %}
{% load waffle_tags %}

{% block page_title %}Tools - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Tools
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Tools</h1>
    </div>
  </div>
  {# removed until new designs are ready for tools access warning message  #}
  <!-- {% if not perms.applications.start_all_applications %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <div class="govuk-warning-text__text">
            <strong>
              <span class="govuk-warning-text__assistive">Warning</span>
              You need to request access to use tools.
            </strong>
          </div>
        </div>
        <a class="govuk-button govuk-button--primary" href="{% url 'request_access:index' %}">Request access</a>
      </div>
    </div>
  {% endif %} -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-margin-bottom-8">
        Data Workspace offers access to a range of analysis tools that you can use with datasets in the catalogue.
        Find out more about tools and how to start using them in the
        <a class="govuk-link" href="https://data-services-help.trade.gov.uk">Help Centre.</a>
      </p>

      {% for key, group in tools.items %}
        <div class="govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-l">{{ group.group_name }}</h3>
          <div class="govuk-inset-text">Use these tools to
            {% if group.group_link %}
              <a class="govuk-link" href="{{ group.group_link }}" target="_blank" rel="noopener noreferrer">
                {{ group.group_description }}
              </a>
            {% endif %}
          </div>
          {% for tool in group.tools %}
            {% include 'partials/tool_section_wrapper.html' with tool=tool %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
