{% extends '_visualisation.html' %}
{% load core_filters %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block page_title %}{% if form.errors %}Error: {% endif %}Catalogue item - {{ block.super }}{% endblock %}

{% block content %}
{% if form_errors %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
    {% for id_for_label, error in form_errors %}
        <li>
          <a href="{{ request.path }}#{{ id_for_label }}">{{ error }}</a>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">
  <span class="govuk-caption-l">{{ gitlab_project.name }}</span>
  Catalogue item
</h1>

<!-- TODO: Link up `published` -->
<p class="govuk-body">These details are visible in the catalogue once the visualisation has been published.</p>

<form action="{% url 'visualisations:catalogue-item' gitlab_project_id=gitlab_project.id %}" method="POST" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  {{ form.short_description }}

  <div class="govuk-form-group">
    <label class="govuk-label" for="id_description">
      Description
    </label>
    {{ form.description }}
  </div>

  {{ form.enquiries_contact }}
  {{ form.secondary_enquiries_contact }}
  {{ form.information_asset_manager }}
  {{ form.information_asset_owner }}
  {{ form.licence }}
  {{ form.retention_policy }}
  {{ form.personal_data }}
  {{ form.restrictions_on_usage }}
  {{ form.user_access_type }}

  <div id="js-eligibility-criteria-wrapper">
    {{ form.eligibility_criteria }}
  </div>

  <button type="submit" class="govuk-button">Save</button>
</form>
{% endblock %}

{% block footer_scripts %}
  {{ form.media }}
  {{ block.super }}

  <script nonce="{{ request.csp_nonce }}">
    var user_access_type = document.getElementById('{{ form.user_access_type.id_for_label }}');
    var eligibility_criteria = document.getElementById('js-eligibility-criteria-wrapper');

    user_access_type.addEventListener('change', function (e) {
       if (e.target.checked) {
          eligibility_criteria.classList.remove('govuk-visually-hidden');
       }  else {
          eligibility_criteria.classList.add('govuk-visually-hidden');
       }
    });

    if (user_access_type.checked === false) {
        eligibility_criteria.classList.add('govuk-visually-hidden');
    }
  </script>
{% endblock %}
