{% extends '_visualisation.html' %}

{% block content %}
<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
    <span class="govuk-caption-l">{{ gitlab_project.name }}</span>
    Users
</h1>

{% if application_template.user_access_type == 'REQUIRES_AUTHORIZATION' and not users %}
<p class="govuk-body">No users can view {{ gitlab_project.name }}</p>
{% endif %}

{% if application_template.user_access_type == 'REQUIRES_AUTHORIZATION' and users %}
<p class="govuk-body">The following {{ users|length }} user{% if users|length != 1 %}s{% endif %} can view {{ gitlab_project.name }}.</p>

<ul class="govuk-list govuk-list--bullet">
    {% for user in users %}
    <li>
        {{ user.get_full_name }} ({{ user.email }})
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if application_template.user_access_type == 'REQUIRES_AUTHENTICATION'  %}
<p class="govuk-body">All logged in users can view {{ gitlab_project.name }}</p>
{% endif %}

{% endblock %}
