{% extends '_main.html' %}
{% load static %}

{% block page_title %}Dataset finder - {{ block.super }}{% endblock %}

{% block head %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}" src="{% static 'jquery-3.6.0.min.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}" src="{% static 'gtm-support.js' %}"></script>
{% endblock %}

{% block content %}
<form id="ds-finder-search-form" action="{% url 'finder:find_datasets' %}" method="get">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="q">Search all our data</label>
        </h1>
        <p class="govuk-body">
          Find the datasets which mention for example a particular:
          <ul class="govuk-list govuk-list--bullet">
            <li>company</li>
            <li>country</li>
            <li>sector</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-hint">To search for a phrase, put the phrase in quotation marks.</div>
        <div class="search-field govuk-!-margin-bottom-9">
          <div class="search-field-wrapper govuk-!-padding-bottom-6">
            <label class="govuk-label search-field__label" for="search">Search a specific word or phrase</label>
            <input type="search" name="q" id="search" title="Search" class="govuk-input search-field__item search-field__input js-class-toggle" value="{{ search_term }}">
            <div class="search-field-submit-wrapper search-field__item">
              <input class="search-field__submit" type="submit" value="Search">
            </div>
          </div>
          <p class="govuk-body">
            Switch to <a href="{% url 'datasets:find_datasets' %}" class="govuk-link govuk-link--no-visited-state">search by title or description</a>.
          </p>
        </div>
    </div>
  </div>

  {% if search_term %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if results %}
          <p class="govuk-body">
            <strong>{{ results|length }} results</strong>
          </p>

          {% for result in results %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="govuk-heading-m">{{ result.name }}</h2>
            {% if not result.has_access %}
                <p class="govuk-body">
                  You need to <a class="govuk-link govuk-link--no-visited-state" href="{% url 'request_access:dataset' dataset_uuid=result.id %}">request access to view this data</a>.
                </p>
            {% endif %}
            {% for table in result.table_matches %}
              {% if result.has_access %}
                <p class="govuk-body govuk-!-margin-bottom-0">
                  <a
                    data-search-page-number="1"
                    data-search-result-rank="{{ forloop.parentloop.counter }}"
                    data-search-type="datasetFinder"
                    data-event="search"
                    class="govuk-link--no-visited-state results-link" href="{% url 'finder:show_results' schema=table.schema table=table.table %}?name={{ result.name }}&slug={{ result.slug }}&uuid={{ result.id }}&q={{ search_term }}">
                    {{ table.name }}
                  </a>
                </p>
              {% else %}
                <span class="govuk-hint govuk-!-margin-bottom-0">{{ table.name}}</span>
              {% endif %}
              <p class="govuk-body">
                <strong>{{ table.count }}</strong> matching rows in "{{ table.schema }}"."{{ table.table }}"
              </p>
            {% endfor %}
          {% endfor %}
        {% else %}
          <p class="govuk-body">
            There are no matches for the phrase “{{ search_term }}”.
          </p>
          <p class="govuk-body">
            Please check your spelling, try a broader term, or consider reordering the words if applicable.
          </p>
        {% endif %}

        {% if has_hidden_tables %}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body">
            Some results have been removed for data protection.
          </p>
        {% endif %}
      </div>
  </div>
  {% endif %}
</form>
{% endblock %}

{% block footer_scripts %}
  <script nonce="{{ request.csp_nonce }}" src="{% static 'search-v2.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}">
    $(document).ready(function() {
      new ToggleInputClassOnFocus($("#ds-finder-search-form"))

      var gtm = new GTMDatasetSearchSupport();

      $(".results-link").on("click", function(){
        gtm.pushSearchResultClick(this);
      });

    });
  </script>
{% endblock %}
