<h1 class="govuk-heading-l">
    There's an error in a column which has been set as: 'Numeric'
</h1>

<p class="govuk-body">Your table has not been added.</p>
<p class="govuk-body">Data Workspace has identified boolean values in a column set as 'Numeric'.</p>
<p class="govuk-body">YNumerics are: numbers with more than 12 digits and can have decimals. <br> Booleans are: one of three values - true, false, or null.</p>
<p class="govuk-body">Check all columns set as 'Numeric' and make sure the data in these columns has an appropriate data type.</p>
