<h1 class="govuk-heading-l">
  There’s an error in a column which has been set as: ‘Datetime’
</h1>
<p class="govuk-body">Your table has not been added.</p>
<p class="govuk-body">Check all columns set as ‘Datetime’ data type:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Are formatted as <a
      href="https://support.microsoft.com/en-gb/office/change-the-format-of-a-cell-0a45ff85-ee24-4276-94e8-aed6083e8050#:~:text=Select%20the%20cells%20with%20the,to%20change%20what%20you%20want">yyyy/mm/dd
      in Excel</a></li>
  <li>only contain dates</li>
</ul>