<h1 class="govuk-heading-xl">
    Your CSV contains a 'String' value that cannot be set as 'Integer'
</h1>
<p class="govuk-body">Your table has not been added.</p>

<p class="govuk-body">String values are used for text, integers are used for numbers up to 12 digits.</p>

<p class="govuk-body">You need to check all columns set as 'Integer' data type and fix the error.</p>
<p class="govuk-body">Once you’ve fixed the error, <a
        href="{% if next_step %}{{ next_step }}{% else %}{% url 'your_files:files' %}{% endif %}"
        class="govuk-link">re-upload your file</a>.
</p>

<div class="govuk-inset-text">
    Check columns set as integer do not have any 'Date' values. This can also cause this error.
</div>

