{% load static useful waffle_tags %}

<!doctype html>
<html lang="en" class="govuk-template ">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}Data Explorer{% endblock %}</title>
        <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
        <meta name="twitter:dnt" content="on">
        <meta name="format-detection" content="telephone=no">
        {% block styles %}
            <link rel="stylesheet" href="{% static 'govuk-frontend-3.12.0-without-gds-transport.min.css' %}">
            <link href="{% static 'explorer_custom.css' %}" rel="stylesheet" media="all" />
            <!--[if lt IE 9]>
                <script>
                    (function(){
                    var elements = [
                          "abbr",
                          "article",
                          "aside",
                          "audio",
                          "canvas",
                          "datalist",
                          "details",
                          "figure",
                          "footer",
                          "header",
                          "hgroup",
                          "main",
                          "mark",
                          "menu",
                          "meter",
                          "nav",
                          "output",
                          "progress",
                          "section",
                          "time",
                          "video"
                     ]
                    for (var i = 0; i < elements.length; i++) {
                        document.createElement(elements[i])
                    }
                    })()
                </script>
                <style>
                  .govuk-width-container {
                      width: 960px;
                      margin-left: auto !important;
                      margin-right: auto !important;
                  }
                </style>
                <![endif]-->
        {% endblock styles %}
        {% if not debug and gtm_container_id %}
          {% block initialGTMDataLayer %}
            <script nonce="{{ request.csp_nonce }}">
              window.dataLayer = window.dataLayer || [];
            </script>
          {% endblock %}
        {% endif %}
        {% include 'partials/gtm_head.html' %}
    </head>
    <body class="govuk-template__body">
      {% include 'partials/gtm_body.html' %}
        <script nonce="{{ request.csp_nonce }}">
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled')
        </script>
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
        {% get_active_menu as active_menu %}

        <header class="govuk-header " role="banner" data-module="govuk-header">
            <div class="govuk-header__container govuk-width-container">
                <div class="govuk-header__logotype" style="width: 100%">
                  <a href="{% url 'explorer:index' %}" class="govuk-header__link govuk-header__link--service-name">Data Explorer </a>
                  <p style="float: right" class="govuk-!-font-size-19 govuk-!-display-inline-block govuk-!-margin-top-0">
                    Uses data on <a class="govuk-header__link" style="text-decoration: underline" href="https://data.trade.gov.uk" target="_blank" rel="noopener noreferrer">Data Workspace</a>
                  </p>
                </div>
                <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                <nav aria-label="Top Level Navigation">
                    <ul id="navigation" class="govuk-header__navigation">
                        <li class="govuk-header__navigation-item{% if active_menu == 'home' %} govuk-header__navigation-item--active{% endif %}">
                            <a class="govuk-header__link" href="{% url 'explorer:index' %}">Home</a>
                        </li>
                        <li class="govuk-header__navigation-item{% if active_menu == 'queries' %} govuk-header__navigation-item--active{% endif %}">
                            <a class="govuk-header__link" href="{% url 'explorer:list_queries' %}">Saved queries</a>
                        </li>
                        <li class="govuk-header__navigation-item{% if active_menu == 'logs' %} govuk-header__navigation-item--active{% endif %}">
                            <a class="govuk-header__link" href="{% url 'explorer:explorer_logs' %}">Logs</a>
                        </li>
                        {% flag CHART_BUILDER_BUILD_CHARTS_FLAG %}
                            <li class="govuk-header__navigation-item{% if active_menu == 'charts' %} govuk-header__navigation-item--active{% endif %}">
                                <a class="govuk-header__link" href="{% url 'explorer:explorer-charts:list-charts' %}">Charts</a>
                            </li>
                        {% endflag %}
                        {% block additional_nav %}{% endblock %}
                    </ul>
                </nav>
            </div>
        </header>

        {% block main %}
        <div class="govuk-width-container">
            {% block before_content %}
              {% block phase_banner %}
                  <div class="govuk-phase-banner">
                      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">Alpha</strong>
                          <span class="govuk-phase-banner__text">This is a new service – your&nbsp;<a class="govuk-link" href="{% url 'feedback' %}">feedback</a>&nbsp;will help us to improve it.</span>
                      </p>
                  </div>
              {% endblock %}
              {% block back_button %}{% endblock back_button %}
            {% endblock %}

            <main id="main-content" class="govuk-main-wrapper">
                {% include 'partials/messages.html' %}
                {% block content %}{% endblock content %}
            </main>
        </div>
        {% endblock %}

        <footer class="govuk-footer " role="contentinfo">
          <div class="govuk-width-container ">
            <div class="govuk-footer__navigation">
              <div class="govuk-footer__section">
                <h2 class="govuk-footer__heading govuk-heading-m">Services and information</h2>

                <ul class="govuk-footer__list govuk-footer__list">
                  <li class="govuk-footer__list-item">
                    <a class="govuk-footer__link" href="{% url 'explorer:index' %}">
                      Home
                    </a>
                  </li>
                  <li class="govuk-footer__list-item">
                    <a class="govuk-footer__link" href="{% url 'explorer:list_queries' %}">
                      Saved queries
                    </a>
                  </li>
                  <li class="govuk-footer__list-item">
                    <a class="govuk-footer__link" href="{% url 'explorer:explorer_logs' %}">
                      Logs
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <hr class="govuk-footer__section-break">
            <div class="govuk-footer__meta">
              <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                  <li class="govuk-footer__inline-list-item">
                    <a target="_blank" class="govuk-footer__link" href="https://data-services-help.trade.gov.uk/data-workspace/how-articles/data-workspace-basics/data-workspace-accessibility-statement/">
                      Accessibility statement
                    </a>
                  </li>
                  <li class="govuk-footer__inline-list-item">
                    <a target="_blank" class="govuk-footer__link" href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/data-workspace-privacy-policy">
                      Privacy Policy
                    </a>
                  </li>
                </ul>
                <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                  <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                </svg>
                <span class="govuk-footer__licence-description">
                  All content is available under the
                  <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                </span>
              </div>
              <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
              </div>
            </div>
          </div>
        </footer>

        {% block javascript %}
            <script nonce="{{ request.csp_nonce }}" src="{% get_static_prefix %}govuk-frontend-3.12.0.min.js"></script>

            {% block init_govuk_frontend %}
              <script nonce="{{ request.csp_nonce }}">
                window.GOVUKFrontend.initAll();
              </script>
            {% endblock %}

            {% block footer_additions %} {% endblock footer_additions %}
        {% endblock %}
    </body>
</html>
