{% extends 'explorer/base.html' %}

{% load explorer_tags static waffle_tags %}

{% block title %}{% if form.errors %}Error: {% endif %}Data Explorer - Home{% endblock %}
{% block main %}
  {{ schema_tables|json_script:"schema_tables" }}

  <div class="govuk-width-container">
    {% block before_content %}{{ block.super }}{% endblock %}
  </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" id="query_area">
            {% if query_log.state == 3 %}
                <div id="query_cancelled" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Success
                    </h2>
                  </div>
                  <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                      Your query has been cancelled
                    </h3>
                  </div>
                </div>
            {% endif %}
            <div id="error-banner"{% if not form.errors and not extra_errors %} class="govuk-!-display-none"{% endif %}>
              <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                   data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                  There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list" id="error-summary">
                    {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                        <li>
                          <a href="#id_{{ field }}">{{ error }}</a>
                        </li>
                      {% endfor %}
                    {% endfor %}
                    {% for error in extra_errors %}
                      <li>
                        {{ error }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
              Welcome to Data Explorer
            </h1>

            <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">You can:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>filter, combine or search datasets using an SQL query</li>
              <li><a href="https://data-services-help.trade.gov.uk/data-workspace/how-to/share-and-collaborate/share-a-subset-of-a-dataset/" class="govuk-link">share an SQL query</a> with your colleagues</li>
              <li>learn <a href="https://data-services-help.trade.gov.uk/data-workspace/how-to/see-tools-specific-guidance/data-explorer/start-data-explorer/" class="govuk-link">how to use Data Explorer</a></li>
          </ul>
          </div>
        </div>
    </div>

    <div id="playground-tabs" class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#query-tab">
                  Query
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#database-tab">
                  Database
                </a>
              </li>
            </ul>

            <div class="govuk-tabs__panel" id="query-tab">


              <form role="form" action="{{ form_action }}" method="post" id="editor">
                {% csrf_token %}

                <fieldset class="govuk-fieldset">
                  {% if form.connections|length > 1 %}
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="id_connection">
                        Connection
                      </label>
                      <select class="govuk-select" id="id_connection" name="connection">
                        {% for value, label in form.connections %}
                          <option value="{{ value|lower }}"{% if form.connection.value == value %} selected{% endif %}>
                            {{ label }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                  {% else %}
                    {# still need to submit the connection, just hide the UI element #}
                    <div style="display: none">
                      {{ form.connection }}
                    </div>
                  {% endif %}

                  {# We apply `id_sql` because that matches the id generated by the form for the `sql` field. We don't use #}
                  {# that ID on the GOV.UK textarea itself because it's disabled and hidden, and therefore not a valid anchor #}
                  {# target. Placing the id on the form group means that when the error is clicked we are still taken to the #}
                  {# correct place on the page. #}
                  <div id="id_sql" class="govuk-form-group {% if form.sql.errors %} govuk-form-group--error {% endif %}">
                    <div>
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                          <p class="govuk-label">
                            Enter your SQL query and click the Run button
                          </p>
                        </div>
                      </div>
                    </div>
                    <div id="inline-error"{% if not form.sql.errors %} class="govuk-!-display-none"{% endif %}>
                      {% for error in form.sql.errors %}
                        <span id="sql-error" class="govuk-error-message">
                          <span class="govuk-visually-hidden">Error:</span> {{ error|escape }}
                        </span>
                      {% endfor %}
                    </div>
                    <div class="govuk-textarea" id="gov-uk-sql-wrapper" rows="10">
                      <div id="ace-sql-editor">{{ form.sql.value|default_if_none:"" }}</div>
                    </div>
                    <textarea aria-label="Sql" style="display: none;"
                              name="sql" id="original-sql">{{ form.sql.value|default_if_none:"" }}</textarea>

                    <div class="govuk-form-group">

                      <button class="govuk-button" data-module="govuk-button" name="action" value="run">
                        Run
                      </button>

                      <button class="govuk-button govuk-button--secondary govuk-!-margin-left-3"
                              data-module="govuk-button" name="action" value="save">
                        Save
                      </button>

                      <button class="govuk-button govuk-button--secondary govuk-!-margin-left-3"
                              data-module="govuk-button" type="button" id="format_button">
                        Format SQL
                      </button>

                      <button class="govuk-button govuk-button--secondary govuk-!-margin-left-3"
                              data-module="govuk-button" name="action" value="share">
                        Share
                      </button>

                    </div>

                    <input aria-label="Title" type="govuk-visually-hidden" value="{{ form.title.value|default_if_none:"Playground Query" }}" name="title" hidden/>
                  </div>
                </fieldset>
                <div id="query-results-wrapper">
                  {% if query_log.state == 0 %}
                    {% include 'explorer/partials/query_executing.html' %}
                  {% endif %}
                  {% include 'explorer/partials/query_results.html' %}
                </div>
              </form>
              {% if query_log.state == 0 %}
                <form action="update/" method="post">
                  {% csrf_token %}
                  <div class="govuk-form-group">
                    <input type="hidden" name="state" value="3">
                    <button id="cancel_button" class="govuk-button govuk-button--warning" data-module="govuk-button">
                      Cancel
                    </button>
                  </div>
                </form>
              {% endif %}
            </div>
            <div class="govuk-tabs__panel" id="database-tab">

              <p class="govuk-body">
                You can see the database tables you have access to here.

                This is temporarily disabled!
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </main>

{% endblock %}

{% block footer_additions %}
  <script nonce="{{ request.csp_nonce }}" src="{% static 'assets/vendor/listjs/listjs-1.5.0.min.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}" src="{% static 'assets/vendor/ace/ace-multiple-1.4.12.min.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}" src="{% static 'assets/vendor/sql-formatter/sql-formatter-2.3.3.min.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}" src="{% static 'explorer_schema.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}" src="{% static 'explorer_query.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}">
    window.initSchemaSearch();
  </script>
  {% if query_log %}
    <script nonce="{{ request.csp_nonce }}" src="{% static 'explorer_async.js' %}"></script>
    <script nonce="{{ request.csp_nonce }}">
      setTimeout(function() {
        window.pollForQueryResults({{ query_log.id }}, 500, 250, 5000);
      })
    </script>
  {% endif %}
{% endblock %}
