{% extends 'explorer/base.html' %}

{% block title %}Data Explorer - Queries{% endblock %}
{% block content %}
<h1 class="govuk-heading-m govuk-!-margin-bottom-6">Home</h1>
    
<div class="govuk-grid-row">
  <div class="govuk-width-container">
    {% if recent_queries|length > 0 %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Your&nbsp;{{ recent_queries|length }}&nbsp;Most Recently Run
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
	<tr class="govuk-table__row">
	  <th scope="col" class="govuk-table__header">Query</th>
	  <th scope="col" class="govuk-table__header">Last Run</th>
	  <th scope="col" class="govuk-table__header">CSV</th>
	</tr>
      </thead>
      <tbody class="govuk-table__body">
	{% for object in recent_queries %}
	<tr class="govuk-table__row">
	  <td class="govuk-table__cell">
	    <a class="govuk-link" href="{% url 'explorer:query_detail' object.query_id %}">
	      {{ object.query.title }}
	    </a>
	  </td>
	  <td class="govuk-table__cell">{{ object.run_at|date:"SHORT_DATETIME_FORMAT" }}</td>
	  <td class="govuk-table__cell">
	    <a class="govuk-link" href="{% url 'explorer:download_query' object.query_id %}">
	      Download
	    </a>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    
    {% endif %}
  </div>
  
  <div class="govuk-width-container">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">All Queries</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
	<tr class="govuk-table__row">
	  <th scope="col" class="govuk-table__header">Query</th>
	  <th scope="col" class="govuk-table__header">Download</th>
	  <th scope="col" class="govuk-table__header">Created</th>
	  <th scope="col" class="govuk-table__header">Play</th>
	  <th scope="col" class="govuk-table__header">Delete</th>
	  <th scope="col" class="govuk-table__header">Run Count</th>
	</tr>
      </thead>
      <tbody class="govuk-table__body">
	{% for object in object_list %}
	<tr {% if object.is_in_category %}class="collapse in collapse-{{ object.collapse_target }} govuk-table__row"{% endif %}>
          {% if object.is_header %}
          <td class="govuk-table__cell" colspan="100">
            <strong>
              <span data-toggle="collapse" data-target=".collapse-{{object.collapse_target}}"
                    class="toggle">
		{{ object.title }} ({{ object.count }})</span>
            </strong>
          </td>
          {% else %}
          <td class="name{% if object.is_in_category %} indented{% endif %} govuk-table__cell">
            <a class="govuk-link" href="{% url 'explorer:query_detail' object.id %}">{{ object.title }}</a>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="{% url 'explorer:download_query' object.id %}">Download</a>
          </td>
          <td class="govuk-table__cell">{{ object.created_at|date:"SHORT_DATE_FORMAT" }}
            {% if object.created_by_user and MULTIUSER_DEPLOYMENT %}
            by {{ object.created_by_user }}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="{% url 'explorer:index' %}?query_id={{ object.id }}">Play</a>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="{% url 'explorer:query_delete' object.id %}">Delete</a>
          </td>
          <td class="govuk-table__cell">{{ object.run_count }}</td>

          {% endif %}
	</tr>
	{% endfor %}
	
      </tbody>
    </table>
    
  </div>
  
</div>

{% endblock content %}
