{% extends "explorer/base.html" %}

{% load explorer_tags %}

{% block title %}Data Explorer - Logs{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Logs</h1>
<h2 class="govuk-heading-l">Query logs</h2>
<table class="govuk-table">
    <thead>
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Query title</th>
        <th scope="col" class="govuk-table__header">SQL</th>
        <th scope="col" class="govuk-table__header">Run duration</th>
        <th scope="col" class="govuk-table__header">Date and time run</th>
        <th scope="col" class="govuk-table__header">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for object in recent_logs %}
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            {% if object.query_id %}
              <a class="govuk-link" href="{% url 'explorer:query_detail' object.query_id %}">{{ object.query.title }}</a>
            {% else %}
              N/A
            {% endif %}
        </td>
        <td class="govuk-table__cell log-sql">
          <form action="{% url 'explorer:index' %}" id="query-form--{{ object.id }}" method="POST">
            {% csrf_token %}
            <textarea name="sql" class="govuk-textarea app-readonly-sql govuk-!-margin-bottom-0 govuk-!-font-size-16" rows="2" readonly style="width: 100%">{{ object.sql }}</textarea>
          </form>
        </td>
        <td class="govuk-table__cell">{% if object.duration %}{{ object.duration|format_duration_short }}{% else %}N/A{% endif %}</td>
        <td class="govuk-table__cell">{% if object.run_at %}{{ object.run_at|date:"SHORT_DATETIME_FORMAT" }}{% else %}N/A{% endif %}</td>
        <td class="govuk-table__cell">
          <div class="govuk-button-group">
            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'explorer:index' %}?querylog_id={{ object.id }}">Run</a>
            {% if object.query_id %}
              <a class="govuk-link govuk-link--no-visited-state" href="{% url 'explorer:query_detail' object.query_id %}">Save</a>
            {% else %}
              <button
                form="query-form--{{ object.id }}"
                class="button-link govuk-!-margin-left-3"
                name="action"
                value="save"
                role="button"
              >
                Save
              </button>
            {% endif %}
            <button
              form="query-form--{{ object.id }}"
              class="button-link govuk-!-margin-left-3"
              name="action"
              value="share"
              role="button"
            >
              Share
            </button>
          </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<nav role="navigation" class="govuk-body">
    Displaying logs {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}
    <ul class="pagination govuk-list">
        {% if page_obj.has_previous %}
        <li><a class="govuk-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% if page_obj.number > 3 %}
        <li><a class="govuk-link" href="?page=1">{{ 1 }}</a></li>
            {% if page_obj.number > 4 %}
            <li>&hellip;</li>
            {% endif %}
        {% endif %}

        {% if page_obj.paginator.num_pages > 1 %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active">{{ i }}</li>
                {% elif i >= page_obj.number|add:'-2' and i <= page_obj.number|add:'2' %}
                <li><a class="govuk-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
            {% if page_obj.paginator.num_pages > page_obj.number|add:'3' %}
            <li>&hellip;</li>
            {% endif %}
        <li><a class="govuk-link" href="?page={{ page_obj.paginator.num_pages }}">
            {{ page_obj.paginator.num_pages }}
        </a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li><a class="govuk-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}
