{% extends 'explorer/base.html' %}

{% block title %}Data Explorer - Queries{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Saved queries</h1>

<p class="govuk-body govuk-!-margin-bottom-7">You can see your saved and recently run queries on this page.</p>
    
<div class="govuk-grid-row">
  <div class="govuk-width-container">
    {% if recent_queries|length > 0 %}
    <h2 class="govuk-heading-l">
      Your most recently run queries
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
	<tr class="govuk-table__row">
	  <th scope="col" class="govuk-table__header">Query title</th>
	  <th scope="col" class="govuk-table__header" style="width: 25%">Date and time run</th>
	</tr>
      </thead>
      <tbody class="govuk-table__body">
	{% for object in recent_queries %}
	<tr class="govuk-table__row">
	  <td class="govuk-table__cell">
	    <a class="govuk-link" href="{% url 'explorer:query_detail' object.query_id %}">
	      {{ object.query.title }}
	    </a>
	  </td>
	  <td class="govuk-table__cell">{{ object.run_at|date:"SHORT_DATETIME_FORMAT" }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    
    {% endif %}
  </div>
  
  <div class="govuk-width-container">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Your queries</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
	<tr class="govuk-table__row">
	  <th scope="col" class="govuk-table__header" style="width: 30%">Query title</th>
	  <th scope="col" class="govuk-table__header" style="width: 25%">Date created</th>
	  <th scope="col" class="govuk-table__header" style="width: 25%">Run count</th>
	  <th scope="col" class="govuk-table__header">Actions</th>
	</tr>
      </thead>
      <tbody class="govuk-table__body">
	{% for object in object_list %}
	<tr>
        <td class="name govuk-table__cell">
          <a class="govuk-link" href="{% url 'explorer:query_detail' object.id %}">
            {{ object.title }}
          </a>
        </td>
        <td class="govuk-table__cell">
          {{ object.created_at|date:"SHORT_DATE_FORMAT" }}
        </td>
        <td class="govuk-table__cell">
          {{ object.run_count }}
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link govuk-!-margin-right-4 govuk-!-display-inline-block" href="{% url 'explorer:index' %}?query_id={{ object.id }}">Run</a>
          <a class="govuk-link govuk-!-margin-right-4 govuk-!-display-inline-block" href="{% url 'explorer:query_delete' object.id %}">Delete</a>
        </td>
	</tr>
	{% endfor %}
	
      </tbody>
    </table>
    
  </div>
  
</div>

{% endblock content %}
