{% extends 'explorer/base.html' %}

{% load explorer_tags static %}

{% block title %}{% if form.errors %}Error: {% endif%}Data Explorer - Share query{% endblock %}

{% block back_button %}
  <a href="{{ query_object.get_absolute_url }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'assets/vendor/highlight/styles/a11y-light.css' %}">
{% endblock styles %}
{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Share Query
        </h1>
        {% include 'design_system/error_summary.html' with form=form %}
        <form method="POST" novalidate>
          {% csrf_token %}
          {{ form.to_user }}
          {{ form.message }}
          {{ form.query }}
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show query
              </span>
            </summary>
            <div class="govuk-details__text">
              <pre style="white-space: pre-wrap;">

                <code class="hljs psql pgsql">{{ form.query.value }}</code>
              </pre>
            </div>
          </details>
          {{ form.copy_sender }}
          <button type="submit" class="govuk-button">Confirm and continue</button>
        </form>
      </div>
    </div>

{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'assets/vendor/highlight/highlight.pack.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}">hljs.initHighlightingOnLoad();</script>
{% endblock javascript %}
