version: 2

jobs:
  docker-test-unit:
    docker:
      - image: cimg/python:3.9
    parallelism: 4
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.18
          docker_layer_caching: true
      - run:
          name: Build docker containers
          command: make docker-build
      - run:
          name: Check all docker-test-unit-local migrations have been generated
          command: make docker-check-migrations
      - run:
          name: Run test
          command: |
            touch .envs/dev.env
            touch .envs/superset.dev.env
            make docker-test-unit TESTS="$(circleci tests glob 'dataworkspace/dataworkspace/tests/**/test_*.py' | circleci tests split --split-by=timings | tr '\n' ' ')"
            docker cp data-workspace-test-data-workspace-test-results-1:/test-results ./test-results
      - store_test_results:
          path: test-results

  docker-test-integration:
    docker:
      - image: cimg/python:3.9
    parallelism: 4
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.18
          docker_layer_caching: true
      - run:
          name: Build docker containers
          command: make docker-build
      - run:
          name: Run test
          command: |
            touch .envs/dev.env
            touch .envs/superset.dev.env
            make docker-test-integration TESTS="$(circleci tests glob 'test/**/test_*.py' | circleci tests split --split-by=timings | tr '\n' ' ')"
            docker cp data-workspace-test-data-workspace-test-results-1:/test-results ./test-results
      - store_test_results:
          path: test-results

  check-linting:
    docker:
      - image: cimg/python:3.9
    resource_class: small
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3.9-python-{{ checksum "requirements-dev.txt" }}-v2
      - run:
          name: Install requirements
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements-dev.txt
      - save_cache:
          key: v3.9-python-{{ checksum "requirements-dev.txt" }}-v2
          paths:
            - "venv"
      - run:
          name: Run static checks
          command: |
            . venv/bin/activate
            make check

workflows:
  version: 2
  build:
    jobs:
      - docker-test-unit
      - docker-test-integration
      - check-linting
