version: 2
jobs:
  build:
    docker:
      # Test and code run in _other_ docker containers, so mostly doesn't matter
      - image: python:3.7.2
    steps:
      - checkout
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run:
          name: Install docker-compose
          command: |
            set -x
            curl -L https://github.com/docker/compose/releases/download/1.22.0/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
            chmod +x /usr/local/bin/docker-compose
      - setup_remote_docker
      - run:
          name: Run tests
          command: |
            touch .env
            docker-compose -f docker-compose-circleci.yml build data-workspace
            docker-compose -f docker-compose-test.yml build
            docker-compose -f docker-compose-test.yml run data-workspace-test python3 -m unittest test.test
            docker-compose -f docker-compose-test.yml run data-workspace-test django-admin test /dataworkspace/dataworkspace
