version: 2

restore-docker-cache: &restore-docker-cache
  restore_cache:
    keys:
      - v3.9-docker-{{ checksum "Dockerfile" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
      - v3.9-docker-{{ checksum "Dockerfile" }}-{{ checksum "requirements.txt" }}
      - v3.9-docker-{{ checksum "Dockerfile" }}
      - v3.9-docker

save-docker-cache: &save-docker-cache
  save_cache:
    key: v3.9-docker-{{ checksum "Dockerfile" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
    paths:
      - "caches"

load-docker-layers: &load-docker-layers
  run:
    name: Load docker layers
    command: |
      set +o pipefail
      if [ -f caches/data-workspace-test-latest.tar.gz ]; then docker images; gunzip -c caches/data-workspace-test-latest.tar.gz | docker load; docker images; fi

prepare-docker-cache: &prepare-docker-cache
  run:
    name: Prepare cache (docker layers and dockerfile/pip reqs)
    command: |
      mkdir -p caches
      if sha256sum --check --status caches/checksums; then
        # None of these files have changed, so the Docker layers _probably_ haven't changed either.
        # Saving them is quite slow, so in this case let's not bother.
       echo ''
      else
        docker compose -f docker-compose-test.yml build data-workspace-test  | grep "\-\-\->" | grep -v "Using cache" | cut -f 3 -d " " > /tmp/layers.txt
        docker save $(cat /tmp/layers.txt) | gzip > caches/data-workspace-test-latest.tar.gz
        sha256sum Dockerfile requirements.txt requirements-dev.txt > caches/checksums
      fi

jobs:
  docker-test-unit:
    docker:
      - image: cimg/python:3.9
    parallelism: 4
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.18
      - <<: *restore-docker-cache
      - <<: *load-docker-layers
      - run:
          name: Build docker containers
          command: make docker-build
      - <<: *prepare-docker-cache
      - <<: *save-docker-cache
      - run:
          name: Check all migrations have been generated
          command: make docker-check-migrations
      - run:
          name: Run test
          command: |
            touch .envs/dev.env
            make docker-test-unit TESTS="$(circleci tests glob 'dataworkspace/dataworkspace/tests/**/test_*.py' | circleci tests split --split-by=timings | tr '\n' ' ')"
            docker cp data-workspace-test_data-workspace-test-results_1:/test-results ./test-results
      - store_test_results:
          path: test-results

  docker-test-integration:
    docker:
      - image: cimg/python:3.9
    parallelism: 4
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.18
      - <<: *restore-docker-cache
      - <<: *load-docker-layers
      - run:
          name: Build docker containers
          command: make docker-build
      - <<: *prepare-docker-cache
      - <<: *save-docker-cache
      - run:
          name: Run test
          command: |
            touch .envs/dev.env
            make docker-test-integration TESTS="$(circleci tests glob 'test/**/test_*.py' | circleci tests split --split-by=timings | tr '\n' ' ')"
            docker cp data-workspace-test_data-workspace-test-results_1:/test-results ./test-results
      - store_test_results:
          path: test-results

  check-linting:
    docker:
      - image: cimg/python:3.9
    resource_class: small
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3.9-python-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
            - v3.9-python-{{ checksum "requirements.txt" }}
            - v3.9-python
      - run:
          name: Install requirements
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements-dev.txt
      - save_cache:
          key: v3.9-python-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
          paths:
            - "venv"
      - run:
          name: Run static checks
          command: |
            . venv/bin/activate
            make check

workflows:
  version: 2
  build:
    jobs:
      - docker-test-unit
      - docker-test-integration
      - check-linting
