version: 2.1

jobs:
  docker-test-unit-js:
    working_directory: ~/repo/dataworkspace/dataworkspace/static/js
    docker:
      - image: cimg/node:16.20
    steps:
      - checkout:
          path: ~/repo
      - run:
          name: Run install
          command: |
            npm ci
      - run:
          name: Run lint
          command: |
            npm run lint
      - run:
          name: Run unit tests
          command: |
            npm run test
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: coverage
          destination: coverage

  docker-test-unit:
    docker:
      - image: cimg/python:3.9
    parallelism: 4
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build docker containers
          command: |
            touch .envs/dev.env
            touch .envs/superset.dev.env
            make docker-build
      - run:
          name: Check all docker-test-unit-local migrations have been generated
          command: make docker-check-migrations
      - run:
          name: Run test
          command: |
            touch .envs/dev.env
            touch .envs/superset.dev.env
            make docker-test-unit TESTS="$(circleci tests glob 'dataworkspace/dataworkspace/tests/**/test_*.py' | circleci tests split --split-by=timings | tr '\n' ' ')"
            docker cp data-workspace-test-data-workspace-test-results-1:/test-results ./test-results
      - store_test_results:
          path: test-results

  docker-test-integration:
    docker:
      - image: cimg/python:3.9
    parallelism: 4
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build docker containers
          command: |
            touch .envs/dev.env
            touch .envs/superset.dev.env
            make docker-build
      - run:
          name: Run test
          command: |
            touch .envs/dev.env
            touch .envs/superset.dev.env
            make docker-test-integration TESTS="$(circleci tests glob 'test/**/test_*.py' | circleci tests split --split-by=timings | tr '\n' ' ')"
            docker cp data-workspace-test-data-workspace-test-results-1:/test-results ./test-results
      - store_test_results:
          path: test-results

  check-linting:
    docker:
      - image: cimg/python:3.9
    resource_class: small
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3.9-python-{{ checksum "requirements-dev.txt" }}-v4
      - run:
          name: Install requirements
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements-dev.txt
      - save_cache:
          key: v3.9-python-{{ checksum "requirements-dev.txt" }}-v4
          paths:
            - "venv"
      - run:
          name: Run static checks
          command: |
            . venv/bin/activate
            make check

  docker-test-e2e:
    machine:
      image: default
      docker_layer_caching: false
    resource_class: xlarge
    steps:
      - checkout
      - run_e2e:
          build_cmd_name: docker-e2e-build
          run_cmd_name: docker-e2e-run
      - store_cypress_artifacts:
          docker_project_name: e2e

  docker-test-a11y:
    machine:
      image: default
      docker_layer_caching: false
    resource_class: xlarge
    steps:
      - checkout
      - run_e2e:
          build_cmd_name: docker-a11y-build
          run_cmd_name: docker-a11y-run
      - store_cypress_artifacts:
          docker_project_name: a11y

commands:
  run_e2e:
    description: Run the E2E tests
    parameters:
      build_cmd_name:
        type: string
      run_cmd_name:
        type: string
    steps:
      - run:
          name: Copy sample config
          command: cp .envs/sample.env .envs/dev.env
      - run:
          name: Build docker containers
          command: |
            make << parameters.build_cmd_name >>
      - run:
          name: Run the tests
          command: |
            make << parameters.run_cmd_name >>
  store_cypress_artifacts:
    description: Upload the cypress screenshots and test results
    parameters:
      docker_project_name:
        type: string        
    steps:
      - run:
          name: Copy cypress outputs from container
          when: always
          command: | 
            docker cp << parameters.docker_project_name >>-data-workspace-e2e-test-1:/app/test-results test-results
      - store_artifacts:
          path: test-results/screenshots
      - store_artifacts:
          path: test-results/videos
      - store_test_results:
          path: test-results/test-results.xml


workflows:
  version: 2
  build:
    jobs:
      - docker-test-unit-js
      - docker-test-unit
      - docker-test-integration
      - check-linting
      - docker-test-e2e
      - docker-test-a11y
