{% if approvals|length == 3  %}
        <h2 class="govuk-heading-m">This visualisation has been peer-reviewed</h2>
        <p class="govuk-body">This visualisation has already been peer reviewed by someone else. Their name is listed above.</p>
        <p class="govuk-body">Only three approvals are needed: the owner, a peer reviewer and a Data Workspace team member.</p>
{% else %}
    <h2 class="govuk-heading-m">You're a peer reviewer for this visualisation</h2>
    <p class="govuk-body">Once you have peer reviewed this visualisation, you can approve it below.</p>
{% endif %}



