// credit to market-access-python-frontend https://github.com/uktrade/market-access-python-frontend/blob/1f0172bbee5df22ca0e4063c0c88e12f8af758be/core/frontend/src/css/app-components/_dash-button.scss

$collection-button-width: 295px;
$collection-button-margin: 30px;

$collection-button-from-tablet-width: ( ( $collection-button-width * 2 ) + $collection-button-margin + 60px );
$collection-button-from-desktop-width: ( ( $collection-button-width * 3 ) + ( $collection-button-margin * 2 ) + 60px );
$tablet-width: mq-get-breakpoint-width(tablet, $mq-breakpoints);
$desktop-width: mq-get-breakpoint-width(desktop, $mq-breakpoints);

@if $collection-button-from-tablet-width < $tablet-width {
	$collection-button-from-tablet-width: $tablet-width;
}

@if $collection-button-from-desktop-width < $desktop-width {
	$collection-button-from-desktop-width: $desktop-width;
}

.collection-buttons-cards-container {
	display: flex;
	@include mq( $until: $collection-button-from-desktop-width ){
		flex-direction: column;
	}
	flex-wrap: wrap;
}

.collection-button {
	@extend .govuk-button;
	@extend .govuk-button--start;
	text-align: left;
	background-image: none;
	padding: govuk-em( 15, 24 ) govuk-em( 13, 24 );
	box-sizing: border-box;
	width: 100%;
	min-height: govuk-em( ( 100 - 30 ), 16 );
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@include mq( $from: $collection-button-from-tablet-width ){
		width: $collection-button-width;
	}
	@include mq( $from: $collection-button-from-desktop-width ){
		margin-right: $collection-button-margin;
	}

	&:first-of-type {
		margin-left: 0;
	}
	background-color: #1D70B8;
}

.collection-button__heading {
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: govuk-em( 45, 24 );
	display: table;
}

.collection-button__text {
	@include govuk-font( $size: 14 );
	display: block;
	padding-top: govuk-em( 10, 14 );
}

.collection-button:hover {
	@extend .govuk-button:hover;
	background-color: #1D70B8;
}
