@import "govuk-frontend/govuk/settings/colours-applied";
@import "govuk-frontend/govuk/helpers/typography";


.filter-widget .filter-container {
  padding-left: 3px;
}

.search-input__container {
  position: relative;
}

.search-input__container .search-input__textbox {
  padding-left: 25px;
}

.search-input__container .search-input__icon {
  position: absolute;
  top: 0;
  left: 4px;
  width: 21px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDE4QzExLjc3NSAxNy45OTk2IDEzLjQ5ODggMTcuNDA1NCAxNC44OTcgMTYuMzEyTDE5LjI5MyAyMC43MDhMMjAuNzA3IDE5LjI5NEwxNi4zMTEgMTQuODk4QzE3LjQwNSAxMy40OTk3IDE3Ljk5OTYgMTEuNzc1NCAxOCAxMEMxOCA1LjU4OSAxNC40MTEgMiAxMCAyQzUuNTg5IDIgMiA1LjU4OSAyIDEwQzIgMTQuNDExIDUuNTg5IDE4IDEwIDE4Wk0xMCA0QzEzLjMwOSA0IDE2IDYuNjkxIDE2IDEwQzE2IDEzLjMwOSAxMy4zMDkgMTYgMTAgMTZDNi42OTEgMTYgNCAxMy4zMDkgNCAxMEM0IDYuNjkxIDYuNjkxIDQgMTAgNFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=");
}

.filters-container .govuk-accordion__controls {
  display: none;
}

.accordion-filter, .ways-to-use-our-data-container {

  .accordion-filter-checkboxes {
    padding-left: 1rem;
  }

  .govuk-accordion__section-content {
    padding-top: 0;
  }

  button.govuk-accordion__section-button {
    margin-left: 33px;
    @include govuk-font(19);

    span.govuk-accordion__icon {
      left: 3px;

      &:after, &:before {
        content: "";
        background-color: transparent;
      }

      &:after {
        content: "";
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0.3125rem;
        left: 0.375rem;
        width: 0.675rem;
        height: 0.675rem;
        -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
        transform: rotate(-225deg);
        border-top: 0.125rem solid $govuk-link-colour;
        border-right: 0.125rem solid $govuk-link-colour;
      }
    }
  }

  .govuk-accordion__section--expanded {
    button.govuk-accordion__section-button {
      span.govuk-accordion__icon {
        &:after {
          -webkit-transform: rotate(-455deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 0.3rem;
        }
      }
    }
  }
}


