.govuk-error-colour {
  color: govuk-colour("red");
}

.background-light-grey {
  background-color: govuk-colour("light-grey");
}
.background-blue {
  background-color: govuk-colour("blue");
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
