.govuk-error-colour {
  color: govuk-colour("red");
}

.background-light-grey {
  background-color: govuk-colour("light-grey");
}
.background-blue {
  background-color: govuk-colour("blue");
}

.no-scroll {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.app-\!-fill-width {
  width: 100%;
}

.js-enabled .app-js-hidden {
  display: none;
}

.hidden {
  display: none;
}

.word-wrap {
  word-wrap: break-word;
}

.fixed-table-height {
  max-height: 100% !important;
}

.govuk-table__cell--word-wrapper {
  word-break: break-word;
}

.app-table_cell--no-border {
  border-bottom: none;
}

.error-message {
  text-align: left;
  color: govuk-colour("red") !important;
  font-weight: 700 !important;
  @include govuk-font($size: 19);
}
