/*
These styles refer to the TinyMCE rich text editor - https://www.tiny.cloud/docs/tinymce/latest/.
*/
textarea[data-type="rich-text-editor"] + .tox,
textarea[data-type="rich-text-editor-link-only"] + .tox {
  width: 100% !important;
  border: 2px solid $govuk-focus-text-colour;
  border-radius: 0;

  .tox-editor-header {
    box-shadow: none;
    border-bottom: 2px solid $govuk-focus-text-colour;
  }
  .tox-statusbar__branding {
    display: none;
  }
}

/* 
As we don't allow users to use certain heading levels inside the text area we are removing them as an option.
*/
div[aria-label="Heading 1"].tox-menu-nav__js,
div[aria-label="Heading 2"].tox-menu-nav__js,
div[aria-label="Heading 5"].tox-menu-nav__js,
div[aria-label="Heading 6"].tox-menu-nav__js {
  display: none;
}
