@import "govuk-frontend/govuk/helpers/colour";

@import "govuk-frontend/govuk/settings/media-queries";
@import "govuk-frontend/govuk/helpers/media-queries";

@import "govuk-frontend/govuk/settings/colours-applied";

$light_label_color: govuk-colour("dark-grey");

.search-result {
  border-bottom: 1px solid $govuk-border-colour;
}

.search-result dl {

  dt {
    display: block;
    color: $light_label_color;
  }

  dd {
    margin-left: 0;
    margin-bottom: 1rem;
  }

}

@include govuk-media-query($from: desktop) {
  .search-result dl dt {
    float: left;
  }

  .search-result dl dd {
    margin-left: 10rem;
    margin-bottom: 0;
    display: block;
  }
}


.filter-button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.label__desaturated {
  color: $light_label_color;
}

.bookmark-toggle {
  all: unset;
  cursor: pointer;
  color: $govuk-link-colour;
}
.bookmark-toggle:hover {
  color: $govuk-link-hover-colour;
}
.bookmark-toggle:focus {
  background-color: #fd0;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
}
.is-bookmarked-icon {
  display: none;
}
.is-not-bookmarked-icon {
  display: inline;
}
.is-bookmarked .is-bookmarked-icon {
  display: inline;
}
.is-bookmarked .is-not-bookmarked-icon {
  display: none;
}
