.ag-theme-alpine {
    color: var(--ag-foreground-color, #181d1f);
    --ag-grid-size: 6px;
    --ag-row-height: 30px;
    --ag-font-size: 13px;
    --ag-header-height: 30px;
    --ag-font-family: "Arial", sans-serif;
  }
    
    .ag-header {
      .ag-header-cell-menu-button {
        .ag-icon-menu::before {
          content: "\f115" !important;
        }
      }
      .ag-header-cell-filtered {
        .ag-header-cell-menu-button {
          .ag-icon-menu::before {
            display: inline-block;
            content: url("/__django_static/assets/images/green-filter.svg") !important;
            width: 12px;
            padding-bottom: 4px;
            margin-right: 2px;
          }
        }
      }
      .ag-icon-filter {
        display: none;
      }
    }