@import "vars";
@import "govuk-frontend/dist/govuk/all";

@import "app-tabs";
@import "app-copy";

.govuk-panel--confirmation:focus {
  outline: 5px solid #fd0;
}

.training-screenshot {
  content: url("/__django_static/assets/images/sdp-screenshot.png");
}

.govuk-hint.currently-selected-file {
  font-size: 1rem;
}

.dw-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.badge {
  top: 50px;
  right: 730px;
  padding: 0px 5px;
  border-radius: 100%;
  background-color: #d4351c;
  color: white;
}

.full-width-banner {
  margin: 15px 15px 20px 15px;
  font-size: 19px;

  .govuk-notification-banner__heading {
    margin-bottom: 0;
    font-size: 19px;
  }
}

.grid-view-saved-banner,
.full-width-banner {
  .govuk-notification-banner__content,
  .govuk-notification-banner__content > * {
    max-width: none;
  }
  .govuk-notification-banner__content .govuk-link {
    font-size: 1rem;
    color: #00703c;
  }
}

.govuk-checkboxes__conditional_input {
  margin-left: 10px;
  margin-top: -30px;
}

@import "./objects/width-container";
@import "./components/filters";
@import "./components/header";
@import "./components/search-bar";
@import "./components/dialog";
@import "./components/rich-text";
@import "./components/loading-spinner";
@import "./components/summary-list";
@import "./components/list";
@import "./components/warning-text";
@import "./components/search-results";
@import "./components/collection-button";
@import "./components/tables";
@import "./components/data-grid";
@import "./components/grid-breadcrumb";
@import "./components/pipeline-error-message";
@import "./components/pagination";
@import "./components/sticky-button";
@import "./vendor/ag-grid";
@import "helpers";
@import "mixins";
