@import "govuk-frontend/govuk/settings/colours-applied";

.ag-theme-alpine {
  color: var(--ag-foreground-color, #181d1f);
  --ag-grid-size: 6px;
  --ag-row-height: 30px;
  --ag-font-size: 13px;
  --ag-header-height: 30px;
  --ag-font-family: "Arial", sans-serif;
}
