@import "vars";

// Macbook Pro:         1440 x 900 @ 2x
// Dell XPS Cirrus:     1280 x 533 @ 2x
// GOVUK default width is 960px;

// This value is used for max-width so it *can* be wider than available pixel space
// $govuk-page-width: 1280px;

// check your --include-path for node-sass if this fails to resolve
@import "govuk-frontend/govuk/all";

@import "app-tabs";
@import "app-copy";

.govuk-panel--confirmation--left {
  text-align: left;
}

.govuk-panel--confirmation:focus {
  outline: 5px solid #fd0;
}

.unknown {
  color: #bfc1c3;
}

.scrollable-table {
  width: 100%;
  overflow-x: auto;
  max-height: 560px;
  padding: 3px;
}

.scrollable-table:focus {
  border: 3px solid #0b0c0c;
  outline: 3px solid #fd0;
  padding: 0;
}

.fixed-table-height {
  max-height: 100% !important;
}

.scrollable-table table thead th {
  padding: 15px;
  background-color: #dee0e2;
  border-bottom: 0;
  border-right: 2px solid #fff;
  font-weight: normal;
  min-width: 120px;
  position: relative;
  vertical-align: middle;
}

.scrollable-table table tbody td {
  padding: 15px;
  vertical-align: top;
  border: none;
}

.scrollable-table table tbody tr:nth-child(even) td {
  background-color: #f8f8f8;
}

.scrollable-table table thead th.ref-data-col-character-field,
.scrollable-table table thead th.ref-datetime-field {
  min-width: 280px;
}

.scrollable-table table thead th.ref-data-col-id {
  min-width: 120px;
}

.scrollable-table table thead th.ref-data-boolean-field {
  min-width: 80px;
}

.scrollable-table
  table
  thead
  th.ref-data-col-universal-unique-identifier-field {
  min-width: 300px;
}

.search-field {
  position: relative;
}

.search-field__label {
  font-size: 16px;
  line-height: 2.5;
}

@media (min-width: 40.0625em) {
  .search-field__label {
    font-size: 19px;
    line-height: 2.1052631579;
  }
}

.js-enabled .search-field__label {
  position: absolute;
  left: 15px;
  top: 1px;
  z-index: 1;
  color: #6f777b;
}

.search-field-wrapper {
  display: table;
  width: 100%;
  background: #ffffff;
}

.search-field__item {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.search-field__input[type="search"]:focus,
.search-field__input[type="search"].focus {
  z-index: 2;
}

.search-field__input[type="search"] {
  border-right-width: 0;
}

.search-field__input[type="search"]:focus {
  border-right-width: 2px;
}

.search-field-submit-wrapper {
  width: 1%;
}

.search-field__submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url("/__django_static/assets/images/search-button.png");
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -5000px;
  overflow: hidden;
  background-color: #1d70b8;
  color: #ffffff;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .search-field__submit {
    background-size: 52.5px auto;
    background-position: 115% 50%;
  }
}

.search-field__submit:focus {
  z-index: 2;
  outline: 3px solid $govuk-focus-colour;
  outline-offset: 0;
  box-shadow: inset 0 0 0 4px #0b0c0c;
}

.search-field__submit::-moz-focus-inner {
  border: 0;
}

.search-field__submit:hover {
  background-color: #207dce;
}

.pagination {
  float: right;
}

.pagination li {
  display: inline;
  padding-left: 4px;
}

/* Loading spinner CSS

Lifted from an issue on the GOV.UK Design System repo (https://github.com/alphagov/govuk-design-system-backlog/issues/28).

Comment: https://github.com/alphagov/govuk-design-system-backlog/issues/28#issuecomment-489061680*/
.loading-spinner {
  border: 12px solid #ffffff;
  border-radius: 50%;
  border-top-color: #00703c;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.loading-spinner-small {
  border: 12px solid #ffffff;
  border-radius: 50%;
  border-top-color: #00703c;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The GDS styles assume the presence of the GOV UK logo + crown, which we
   don't have, so without these tweaks the white Menu button on mobile is too
   low: too close to the border of the black top bar.

   As with most (but not all) styles in GDS, this position is "mobile-first",
   with @media min-width to apply styles on larger screen only. This makes it
   slightly awkward to override a style on only one width of screen: the value
   of the style on the larger sizes must be copied and pasted after the
   override in @media min-width blocks. */
.govuk-header__menu-button {
  top: 12px; /* The original value is 20px */
}

@media (min-width: 40.0625em) {
  .govuk-header__menu-button {
    top: 15px; /* The original GDS value */
  }
}

.app-\!-fill-width {
  width: 100%;
}

.js-enabled .app-js-hidden {
  display: none;
}

.hidden {
  display: none;
}

.app-header--suggestion {
  display: none;
}

@media (min-width: 48.05em) {
  .app-header--suggestion {
    display: block;
    float: right;
  }
}

.app-table_cell--no-border {
  border-bottom: none;
}

.app-taglist {
  list-style: none;
  display: inline-block;
  padding-inline: 0;
}

.app-taglist__item {
  display: inline;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid rgba(11, 12, 12, 0.15);
  border-radius: 4px;
  padding: 2px 4px;
}

#data-grid {
  width: 100%;
  height: calc(100vh - 317px)
}
.case-study-quote .quote-heading {
  overflow: hidden;
  margin-left: 32px;
  margin-top: 16px;
}

.case-study-quote .quote-content {
  overflow: hidden;
  margin-left: 32px;
  margin-right: 48px;
  margin-bottom: 16px;
}

.case-study-image {
  width: 100%;
}

.case-study-quote .quote-text {
  margin-bottom: 20px;
}

.visualisation-container {
  padding: 1rem;
  display: block;
  width: 100%;
  min-height: 300px;
}

.visualisation-preview-container,
.chart-preview-container {
  overflow: hidden;
  display: block;
  text-align: center;
  font-family: arial, sans-serif;
}

.visualisation-preview-container svg {
  width: 100%;
  height: auto;
}
.chart-preview-container {
  border: 1px solid $govuk-border-colour;
}
.chart-preview-container img {
  width: 100%;
}
.grid-maximised {
  height : calc(100vh - 175px) !important;
}

/* @include govuk-media-query($from: desktop) ... */
@media (min-width: 48.0625em) {
  .visualisation-preview-container,
  .chart-preview-container {
    width: 280px;
    height: 175px;
    line-height: 175px;
  }

  .visualisation-preview-container svg,
  .chart-preview-container img {
    width: 280px;
    height: 175px;
  }
}

@mixin sidebar-border {
  border-top: 2px solid #1d70b8;
}

.app-related-items {
  @include sidebar-border;
  padding-top: 10px;
}

p.sidebar-section {
  &:not(:first-child) {
    @include sidebar-border;
    padding-top: 20px;
  }
}

/* force links from the rich text editor to use GDS colours */
.dataset-description-richtext a {
  color: #1d70b8;
}

.dataset-description-richtext a:active {
  color: #0b0c0c;
}

.dataset-description-richtext a:hover {
  color: #003078;
}

.dataset-description-richtext a:visited {
  color: #4c2c92;
}

.training-screenshot {
  content: url("/__django_static/assets/images/sdp-screenshot.png");
}

.govuk-hint.currently-selected-file {
  font-size: 1rem;
}
.enhanced-table {
  display: none;
}

.sticky-button-container {
  position:sticky;
  bottom:20px;

  .sticky-button-contents {
    padding: 1rem 1rem 0 1rem;
    //set a negative horizontal margin to widen the container
    //margin:0 -4rem;
    background-color:govuk-colour("light-grey");
    border: solid 1px $govuk-border-colour;
    overflow:hidden;
  }

}

.govuk-breadcrumbs__list-item-white:before {
  border-color: white !important;
}

.dw-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.app-grid-breadcrumbs {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 15px;
}

.enhanced-table-container {
  .ag-root-wrapper {
    border-width: 0;
    font-size: 1rem;
  }
  .ag-header {
    background-color: transparent;
    border-bottom: 1px solid #b1b4b6;
  }
  .ag-header-cell-text {
    display: inline-block;
    user-select: text;
    white-space: nowrap;
  }
  .header-wrap {
    position: relative;
    color: rgb(29, 112, 184);
    .ag-icon-none, .ag-icon-desc, .ag-icon-asc {
      display: none;
    }
    button {
      background-color: rgba(0,0,0,0);
      border-width: 0;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      color: #005ea5;
      cursor: default;
      font-family: inherit;
      font-weight: inherit;
      padding: 0 10px 0 0;
      position: relative;
      text-align: inherit;
      font-size: 1em;
      margin: 0 4px 0 0;
    }
  }

  .ag-header-cell-label {
    text-transform: lowercase;
    &.ag-header-cell-label::first-letter {
      text-transform: uppercase;
    }
  }
  .ag-grid-header-cell, .ag-header-cell-label, .ag-cell-label-container, .ag-header-cell-sortable  {
    cursor: default;
  }
  .ag-header-cell-sorted-none button, .ag-header-cell-sorted-asc button, .ag-header-cell-sorted-desc button {
    color: $govuk-link-colour;
    cursor: pointer;
  }
  .ag-header-cell-sorted-none button:focus, .ag-header-cell-sorted-asc button:focus, .ag-header-cell-sorted-desc button:focus {
    background-color: #fd0;
    color: $govuk-link-colour;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    outline: none;
  }
  .sort-none:before {
    content: " ▼";
    position: absolute;
    right: -3px;
    top: 10px;
    font-size: .5em;
  }
  .sort-none:after {
    content: " ▲";
    position: absolute;
    right: -3px;
    top: 2px;
    font-size: .5em;
  }
  .sort-asc:after {
    content: " ▲";
    font-size: .8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }
  .sort-desc:after {
    content: " ▼";
    font-size: .8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }
  .ag-header-cell, .ag-cell {
    padding-left: 5px;
  }
  .ag-header-cell-resize {
    right: 1px;
  }

  .ag-row {
    background-color: transparent;
    border-bottom: 1px solid #b1b4b6;
  }
}

.app-compressed-grid {
  border: 1px solid #b1b4b6;
  border-bottom: none;
  &.remove-border { border: 0px }

  .app-grid-header {
    padding: 12.5px 0 12.5px 10px;
    display: flex;
    flex-wrap: wrap;

    .govuk-link {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
    }

    .grid-header-left {
      order: 1;
      flex: 1 0 auto;
      margin-right: 0;
      margin-bottom: 0;
      font-size: 19px;

      p {
        margin-right: 15px;
      }

      .govuk-button-group {
        margin-right: 0;
      }
    }

    .grid-header-right {
      order: 2;
      flex: 0 0 auto;
      margin-left: auto;
      text-align: right;
      font-size: 19px;

      p {
        margin-top: 10px;
      }
      .govuk-button-group {
        margin-right: 10px;
        margin-left: 0;
      }
    }

    .govuk-button-group {
      margin-bottom: 0;
      margin-top: 0;
    }

    .govuk-button {
      font-size: 1rem;
      padding: 8px 10px;
      margin-bottom: 0;
    }
    .govuk-body {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
  .ag-header {
    .ag-header-cell-menu-button {
      .ag-icon-menu::before {
        content: "\f115" !important;
      }
    }
    .ag-header-cell-filtered {
      .ag-header-cell-menu-button {
        .ag-icon-menu::before {
          display: inline-block;
          content: url("/__django_static/assets/images/green-filter.svg") !important;
          width: 12px;
          padding-bottom: 4px;
          margin-right: 2px;
        }
      }
    }
    .ag-icon-filter {
      display: none;
    }
  }
}  
.badge {
  top: 50px;
  right: 730px;
  padding: 0px 5px;
  border-radius: 100%;
  background-color:#d4351c;
  color: white;
}

.full-width-banner {
  margin: 15px 15px 20px 15px;
  font-size: 19px;

  .govuk-notification-banner__heading {
    margin-bottom: 0;
    font-size: 19px;
  }

}

.grid-view-saved-banner, .full-width-banner {
  .govuk-notification-banner__content, .govuk-notification-banner__content > * {
    max-width:none;
  }
  .govuk-notification-banner__content .govuk-link {
    font-size: 1rem;
    color: #00703c;
  }
}

@import "filters";
@import "search";
@import "site-search";
@import "rich-text";
@import "collection-button";
@import "dialog";
@import "summary-list";
@import "list";
@import "warning";