/*
  User facing editor styles
 */
.govuk-form-group .ck-editor {
  width: 100%;

  .ck-content {
    font-size: 19px;
    font-family: arial, sans-serif;

    pre {
      code {
        display: inline;
        overflow-x: visible;
        overflow-y: visible;
        max-height: none;
        background-color: rgba(0, 0, 0, 0);
        margin-bottom: 0;
      }
    }
  }

  .ck-editor__main {
    .ck-editor__editable:not(.ck-focused) {
      border-color: #0b0c0c;
    }
  }

  .ck {
    .ck-toolbar {
      border: 1px solid #0b0c0c;
    }
  }
}



/*
 User facing display styles
 */
.app-rich-text {
  pre {
    code {
      margin-bottom: 20px;
    }
  }
}