{% extends '_main.html' %}
{% load static %}
{% load core_tags %}

{% block page_title %}Visualisations - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>

            <li class="govuk-breadcrumbs__list-item">
                Visualisations
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Visualisations</h1>

        {% if not has_gitlab_user %}
        <div class="govuk-inset-text">
            <p class="govuk-body">It looks like GitLab does not have a user record for you. Please <a href="{{ gitlab_url }}" class="govuk-link">visit GitLab</a>, which will create one automatically. Then return to this page.</p>
        </div>
        {% endif %}

        {% if has_gitlab_user and not projects %}
            <p class="govuk-body">You do not have developer access to any visualisations in GitLab. If you think you should have access, please <a class="govuk-link" href="{% url 'support' %}">contact the Data Workspace Support Team</a>.</p>
        {% endif %}

        {% for project in projects %}
        <section>
            <h2 class="govuk-heading-m">{{ project.gitlab_project.name }}</h2>

            {% if project.gitlab_project.description %}
                <p class="govuk-body">{{ project.gitlab_project.description }}</p>
            {% endif %}

            <ul class="govuk-list">
                <li>
                    <a class="govuk-link" href="#"><a class="govuk-link govuk-link--no-visited-state" href="{{ project.manage_link }}">Manage<span class="govuk-visually-hidden"> {{ project.gitlab_project.name }}</span></a></a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="{{ project.gitlab_project.web_url }}">View<span class="govuk-visually-hidden"> {{ project.gitlab_project.name }}</span> source in GitLab</a>
                </li>
            </ul>

            {% if not forloop.last %}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% endif %}
        </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
