{% extends '_visualisation.html' %}
{% load render_bundle from webpack_loader %}

{% load core_filters %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block page_title %}{% if form.errors %}Error: {% endif %}Catalogue item - {{ block.super }}{% endblock %}

{% block content %}
{% if errors %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
    {% for error_url, error_text in errors %}
        <li>
          <a href="{{ error_url }}">{{ error_text }}</a>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">
  <span class="govuk-caption-l">{{ gitlab_project.name }}</span>
  Publish
</h1>

<p class="govuk-body">
  Before you publish this visualisation to the catalogue you need to release it to production. This makes it viewable to users who have the link.
</p>

<h3 class="govuk-heading-m">
  Release to production
</h3>

{% include "partials/react-slot-data.html" with mount_id="confirm-publish-visualisation" data=publish_data test_id="confirm-publish-visualisation" %}

<p class="govuk-body">
  {% if approved %}
  You can release your visualisation to production.{{ project_approvals| length }} out of 3 users have approved it.
</p>
  <button type="submit" class="govuk-button govuk-button--secondary
  {% if not visualisation_published and not approved %}
   govuk-button--disabled 
  {% endif %}" 
  name="action" 
  value="{% if visualisation_published %}
    unpublish-visualisation
  {% else %}
    publish-visualisation
  {% endif %}"
  aria-labelledby="visualisation-explanation"
  {% if not visualisation_published and not approved %} disabled{% endif %}>
      {% if visualisation_published %}
          Unpublish visualisation
      {% else %}
          Release to production
        {% endif %}
  </button>
</div>
{% else %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    You cannot release your visualisation to production. This is because only {{ project_approvals| length }} out of 3 users{{ project_approvals | pluralize }} {{ project_approvals | pluralize:'has,have' }} approved it.
  </strong>
</div>
{% endif %}
{% endblock %}
{% block footer_scripts %}
{% render_bundle 'confirm-publish-visualisation' 'js' %}
<div>
  <p class="govuk-body">
    Go to the <a class="govuk-link" href="{% url 'visualisations:approvals' gitlab_project.id %}">approvals section</a> for more information about this process.
  </p>
<div>
{% endif %}
{% endblock %}