{% extends '_visualisation.html' %}
{% load core_filters %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block page_title %}{% if form.errors %}Error: {% endif %}Catalogue item - {{ block.super }}{% endblock %}

{% block content %}
{% if errors %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
    {% for error_url, error_text in errors %}
        <li>
          <a href="{{ error_url }}">{{ error_text }}</a>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">
  <span class="govuk-caption-l">{{ gitlab_project.name }}</span>
  Publish
</h1>

<p class="govuk-body">
  In order to publish this visualisation, at least two users must have <a class="govuk-link" href="{% url 'visualisations:approvals' gitlab_project.id %}">approved</a> it.
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body" id="visualisation-explanation">
      {% if visualisation_published %}
      Unpublish this visualisation to stop users from accessing it at the
      <a class="govuk-link" style="white-space: nowrap;" href="{{ visualisation_link }}">production domain</a>.
      {% else %}
      Publish this visualisation to make the latest release available for users at the
      <a class="govuk-link" style="white-space: nowrap;" href="{{ visualisation_link }}">production domain</a>.
      {% endif %}
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <form method="POST" action="{{ request.path }}">
      {% csrf_token %}
      <button type="submit" class="govuk-button app-!-fill-width{% if not visualisation_published and not approved %} govuk-button--disabled{% endif %}" name="action" value="{% if visualisation_published %}unpublish-visualisation{% else %}publish-visualisation{% endif %}" aria-labelledby="visualisation-explanation"{% if not visualisation_published and not approved %} disabled{% endif %}>
        {% if visualisation_published %}
          Unpublish visualisation
        {% else %}
          Publish visualisation
        {% endif %}
      </button>
    </form>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body" id="catalogue-explanation">
      {% if catalogue_published %}
      Unpublish the
      <a class="govuk-link" href="{% url 'visualisations:catalogue-item' gitlab_project.id %}">catalogue item</a>
      to stop users from being able to discover the visualisation on
      <a class="govuk-link" href="{% url 'root' %}">Data Workspace</a>.
      {% else %}
      Publish the
      <a class="govuk-link" href="{% url 'visualisations:catalogue-item' gitlab_project.id %}">catalogue item</a>
      to let users discover this visualisation on
      <a class="govuk-link" href="{% url 'root' %}">Data Workspace</a>.
      {% endif %}
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <form method="POST" action="{{ request.path }}">
      {% csrf_token %}

      <button type="submit" class="govuk-button app-!-fill-width{% if not approved or not visualisation_published or not catalogue_complete %} govuk-button--disabled{% endif %}" name="action" value="{% if catalogue_published %}unpublish-catalogue{% else %}publish-catalogue{% endif %}" aria-labelledby="catalogue-explanation"{% if not approved or not visualisation_published or not catalogue_complete %} disabled{% endif %}>
        {% if catalogue_published %}
          Unpublish catalogue item
        {% else %}
          Publish catalogue item
        {% endif %}
      </button>
    </form>
  </div>
</div>

{% endblock %}
