{% extends '_base.html' %}

{% block head %}
    {{ block.super }}
    <style>
        .messages {
            margin: 1em 0;
            padding: 1em 1em;
            color: #fff;
            background: #28a197;
            font-weight: bold;
            font-size: 24px;
        }
        .btn-stop {
            vertical-align: middle;
        }
    </style>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            var element = document.getElementById('fleet-status');
            function getStatus(url) {
                return new Promise((resolve, reject) => {
                    var request = new XMLHttpRequest();
                    request.addEventListener('load', () => {
                        resolve(request.response);
                    });
                    request.addEventListener('error', reject);
                    request.open('GET', url);
                    request.send();
                });
            }
            async function refreshStatus() {
                var status = await getStatus('/appstream-admin/fleetstatus');
                element.textContent = status;
                window.setTimeout(refreshStatus, 15000);
            }
            window.setTimeout(refreshStatus, 15000);
        });
    </script>
{% endblock %}

{% block inner_content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  <h1 class="heading-large">Fleet admin</h1>

      <form method="post" action='/appstream-admin/'>
          <h2> New fleet values</h2><br>
                {% csrf_token %}
                {{ form }}
        <button class="button" name="submit" value="Submit" type="submit">Submit</button><br><br>
        <h2>-----------------------------------------------------------------------------------------------------</h2>
      </form>

      <form method="post" action='/appstream-restart/'>
          <br><h2>Appstream fleet status: <span id="fleet-status">{{ fleet_status }}</span></h2><br>
                {% csrf_token %}
        <h2> Restart fleet cluster</h2><br>
        <button class="button" name="restart" value="Restart" type="submit">Restart</button>
      </form>

{% endblock %}
