{% extends 'govuk_template.html' %}

{% block head %}
    {{ block.super }}
    <style>
        .messages {
            margin: 1em 0;
            padding: 1em 1em;
            color: #fff;
            background: #28a197;
            font-weight: bold;
            font-size: 24px;
        }
        .btn-stop {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block inner_content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="breadcrumbs">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__list-item">
            Home
          </li>
        </ol>
      </div>

    <div class="grid-row">
        <div class="column-third card">
            <a href="{% url 'datagroup' %}" role="button" draggable="false" class="button button--start">
                Data Catalogue
            </a>
            <br />
            <br />
            <a href="{% url 'root' %}" role="button" draggable="false" class="button button--start">
                Analyst Access
            </a>
        </div>

    </div>
    


{% endblock %}
