{% extends '_base.html' %}

{% block page_title %}Privacy Policy - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>


            <li class="govuk-breadcrumbs__list-item">Privacy Policy
            </li>

        </ol>
    </div>
{% endblock %}

{% block inner_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Privacy Policy
            </h1>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Published:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ published_date }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last updated:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ updated_date }}
                    </dd>
                </div>
            </dl>

            <p class="govuk-body">
                Information provided whilst using this service, including personal information, may be published or
                disclosed in accordance with access to information regimes, primarily the Freedom of Information Act
                2000 (FOIA) and UK Data Protection legislation.&nbsp;
            </p>
            <p class="govuk-body">
                The Department for International Trade will process personal data supplied in this service in accordance
                with the Data Protection Act (DPA) . The information you provide will be processed on a lawful basis in
                Digital Workspace to enable DIT to perform a task in the public interest or to fulfil an official
                function, and the task or function has a clear basis in law and/or the processing is necessary for a
                contract DIT have with an individual and/or the individual has given consent for the processing of their
                personal data for a specific task.
            </p>
            <p class="govuk-body">
                This information will be shared within the department and with selected third parties for purposes
                connected with DIT performing a task in the public interest or to fulfil an official function and the
                task or function has a clear basis in law, including:

            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>to provide DIT staff with access to data sets that DIT owns and manages</li>
                <li>to manage access to data sets to ensure legal, regulatory and commercial compliance</li>
                <li>to analyse usage of the service, track data access and evaluate impact</li>
            </ul>
            <p class="govuk-body">
                Third parties with whom information will be shared are:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Gov.UK PaaS</li>
                <li>Amazon Web Services (AWS)</li>
                <li>Google Cloud</li>
            </ul>
            <p class="govuk-body">
                Aggregated analysis of responses may also be shared with the Information Commissioner’s Office (ICO) the
                Government Internal Audit Agency (GIAA) and the National Audit Office (NAO) and&nbsp;UK Export
                Finance.
            </p>
            <p class="govuk-body">
                Consent will be sought in accordance with the DPA should there be a requirement to share information with
                any other third parties outside of those listed above. If you want the information you provide to be
                treated confidentially, please be aware that, in accordance with the FOIA, public authorities are
                required to comply with a statutory code of practice which deals, amongst other things, with obligations
                of confidence. In view of this, it would be helpful if you could explain to us why you wish that
                information to be treated confidentially. If we receive a request for disclosure of that information, we
                will take full account of your explanation, but we cannot give an assurance that confidentiality can be
                maintained in all circumstances.
            </p>
        </div>
    </div>
{% endblock %}
