{% extends '_base.html' %}

{% block page_title %}Access Request - {{ block.super }}{% endblock %}


{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>


            <li class="govuk-breadcrumbs__list-item">Request Access
            </li>

        </ol>
    </div>
{% endblock %}

{% block inner_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Request access</h1>

            <p class="govuk-body">
                Your request has been received by our Zendesk ticketing system. <br/>
                Your reference is: <strong>{{ ticket }}</strong>
            </p>

        </div>

    </div>
{% endblock %}