{% extends '_main.html' %}
{% block page_title %}Request complete - {{block.super }}{% endblock page_title %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Request received</h1>
      <div class="govuk-panel__body">
        Your reference number is {{ object.zendesk_reference_number }}
      </div>
    </div>
    <div class="govuk-!-padding-top-3">
      {% if object.journey == object.JOURNEY_TOOLS_ACCESS %}
      <p class="govuk-body">You've requested access to our <a href="{% url 'applications:tools' %}">tools.</a></p>
      {% elif object.journey == object.JOURNEY_DATASET_ACCESS %}
      <p class="govuk-body">You've requested access to <a href="{{ catalogue_item.get_absolute_url }}">{{ catalogue_item }}.</a></p>
      {% else %}
      <p class="govuk-body">You've requested access to STATA.</p>
      {% endif %}
    </div>
    <div class="govuk-!-padding-top-3">
      <h2 class="govuk-heading-m">What happens next</h2>
    </div>
    <p class="govuk-body">
      Our Service Level Agreement (SLA) commits us to respond within 5 days. However, we usually respond much faster.
    </p>
    <p class="govuk-body">
      You'll get an email when a decision is made on your access request.
    </p>
    <div>
      <p class="govuk-body-m">
        <a class="govuk-link" href="{% url 'root' %}">Return home</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
