{% extends '_main.html' %}

{% block page_title %}Request access to tools - reason for stata{% endblock %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">Request access to tools
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Request complete
    </h1>
    <div class="govuk-panel__body">
        Your reference number<br><strong>object.zendesk</strong>
    </div>
</div>
<h2 class="govuk-heading-m">Next steps</h2>
<p class="govuk-body">We will respond within 5 working days.</p>
<p class="govuk-body">If you have any questions contact</p> <a href= "mailto:data-workspace+id145785@uktrade.zendesk.com"> data-workspace+id145785@uktrade.zendesk.com </a>
<p class="govuk-body">In the meantime you can:</p>
<ul class="govuk-list govuk-list--bullet">
    <li> <a href= "https://data.trade.gov.uk/datasets/" >search our data</a>to find relevant datasets for your work</li>
    <li> join the <a href= "https://data.trade.gov.uk/datasets/" >Data Workspace Community</a> for help, support and advice.</li>
</ul>
<h2 class="govuk-heading-m">Give feedback on requesting access to tools</h2>
<li> <a href= "https://teams.microsoft.com/l/team/19%3Ac1f08445f252403982e22a387b30b4ca%40thread.skype/conversations?groupId=748264d0-f2a0-4e13-afa0-22c152ea7cb9&tenantId=8fa217ec-33aa-46fb-ad96-dfe68006bb86">What did you think of this service?</a>short survey with 4 questions</li>


{% endblock %}

