{% load static %}

  <label class="govuk-label" for="id_training_screenshot">
    <p>Upload proof you've completed Security and Data Protection within the last 12 months.
    </p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          This could be a screenshot like this:
        </span>
      </summary>

      <div class="govuk-details__text">
        <img alt="Training screenshot" class="training-screenshot" width="100%">
      </div>
    </details>

  </label>