{% load static %}

<div class="govuk-body govuk-!-margin-top-2">
    <p>
        Upload proof you've compeleted Responsible for Information within the last 12 months.
    </p>
  </div>
  <div class="govuk-hint">
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            This could be a screenshot like this:
          </span>
        </summary>

        <div class="govuk-details__text">
          <img src="{% static 'assets/images/rit-screenshot.png' %}" width="100%">
        </div>
      </details>
  </div>