// Image asset paths required by GOV.UK frontend toolkit functions
// use `@import 'govuk_template_base/defaults';` instead if building with `buildscss` management command
$path: '/static/images/';

$is-print: true;

.print-hidden {
  display: none;
}
