{% extends 'errors/base_error.html' %}
{% block error_content %}
  <p class="govuk-body">
    Check you're signed into ZScaler. If you use another VPN client, check you're signed into it.
  </p>
  <p class="govuk-body">
    Find out how to <a href="https://workspace.trade.gov.uk/working-at-dit/how-do-i/gain-access-to-a-trusted-network/">sign into ZScaler</a>.
  </p>
  <p class="govuk-body">
    If you're already signed into ZScaler or another VPN client,
    {% if contact_email %}
      <a class="govuk-link" href="mailto:{{ contact_email }}">contact the Visualisation Manager</a>
    {% else %}
      <a class="govuk-link" href="{% url 'support' %}">contact the Data Workspace Team</a>
    {% endif %}
    for help accessing this page.
  </p>
  {% if peer_ip %}
    <p class="govuk-body">
      Peer IP: <code>{{ peer_ip }}</code>.
    </p>
  {% endif %}
{% endblock error_content %}
