<a aria-labelledby="bookmark_{{ dataset_uuid }}" class="govuk-link govuk-link--no-visited-state{% if is_bookmarked %} is-bookmarked{% endif %}" href="{% url 'datasets:toggle_bookmark' dataset_uuid=dataset_uuid %}"><span style="position: relative;top:4px; margin-right:4px">{% include 'partials/bookmark.html' with is_bookmarked=is_bookmarked %}</span>Bookmark</a>
{% if is_bookmarked %}
<div class="govuk-visually-hidden" id="bookmark_{{ dataset_uuid }}">Remove the bookmark from this dataset</div>
{% else %}
<div class="govuk-visually-hidden" id="bookmark_{{ dataset_uuid }}">Bookmark this dataset</div>
{% endif %}