/* This removes the borders in the combined nav/toc */

.md-nav--primary > .md-nav__list > .md-nav__item--active > .md-nav > .md-nav__list > .md-nav__item--active {
    padding-left: 10px;
    border-left: 4px solid;
    border-left-color: #1d70b8;
}

.md-nav--secondary > .md-nav__list > .md-nav__item  > .md-nav__link--active{
    border-left: none;
}

.md-nav--secondary {
    font-weight: normal;
}

.md-nav--secondary .md-nav__item::before {
    content: '—';
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    color: #505a5f;
}

.md-nav__item .md-nav__link--passed {
    color: var(--md-typeset-a-color);
}

.md-nav__item .md-nav__link--active {
    color: var(--md-typeset-a-color);
}

.md-nav--secondary .md-nav__link--active {
    padding-left:  0;
}

.md-nav--secondary .md-nav__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 2;
}

.md-nav--secondary .md-nav__list {
    margin-top: 5px;
}

[dir=ltr] .md-nav--secondary .md-nav__item {
    padding-left: 0;
}

[dir=ltr] .md-nav--integrated > .md-nav__list > .md-nav__item--active .md-nav--secondary {
    border-left: none;
}
