{% extends '_main.html' %}

{% block page_title %}Tell us how we can help{% endblock page_title %}

{% if backlink %}
  {% block go_back %}
    <a href="{{ backlink }}" class="govuk-back-link">Back</a>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your answers before submitting your request</h1>

        <h2 class="govuk-heading-m">Request details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who are you in relation to this request?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.get_requester_role_display }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{% url 'request_data:who-are-you' pk=object.pk %}?change">
                Change<span class="govuk-visually-hidden"> role</span>
              </a>
            </dd>
          </div>
          {% if show_owner_or_manager %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of information asset owner or manager
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.name_of_owner_or_manager }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{% url 'request_data:owner-or-manager' pk=object.pk %}?change">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Describe the data you want to add
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.data_description }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{% url 'request_data:describe-data' pk=object.pk %}?change">
                Change<span class="govuk-visually-hidden"> description</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What will the data be used for?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.data_purpose }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{% url 'request_data:purpose-of-data' pk=object.pk %}?change">
                Change<span class="govuk-visually-hidden"> purpose</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the security classification of this data?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.get_security_classification_display }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{% url 'request_data:security-classification' pk=object.pk %}?change">
                Change<span class="govuk-visually-hidden"> security classification</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Where is the data currently held?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.data_location }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{% url 'request_data:location-of-data' pk=object.pk %}?change">
                Change<span class="govuk-visually-hidden"> location</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How is the data licensed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.data_licence }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{% url 'request_data:licence-of-data' pk=object.pk %}?change">
                Change<span class="govuk-visually-hidden"> location</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your full name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.requester.get_full_name }}
            </dd>
            <dd class="govuk-summary-list__actions">
              Automatic
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ object.requester.email }}
            </dd>
            <dd class="govuk-summary-list__actions">
              Automatic
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">
          Submitting accurate information will help us understand and process your request quickly.
        </p>

        <form method="POST" novalidate>
          {% csrf_token %}

          <button class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>
    </div>
  </div>
{% endblock %}
