{% extends '_main.html' %}
{% block page_title %}Application complete - {{ block.super }}{% endblock page_title %}
{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'root' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs--link"  href="{% url 'request-data:index' %}">Request data</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Submission complete
      </li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Application complete
        </h1>
        <div class="govuk-panel__body">
          Your reference number is <br><strong>{{ object.help_desk_ticket_id }}</strong>
        </div>
      </div>

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We've sent your application to the Data Workspace team.
      </p>
      <p class="govuk-body">
        They will contact you within 5 working days to confirm your request or to ask for more information.
      </p>
    </div>
  </div>
{% endblock %}
