{% extends '_main.html' %}
{% block page_title %}Request data - {{ block.super }}{% endblock page_title %}
{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'root' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Request data
      </li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Request data
      </h1>
      <p class="govuk-body">
        Tell us about data you want added to the Data Workspace catalogue.
      </p>
      <h2 class="govuk-heading-m">
        How long it takes
      </h2>
      <p class="govuk-body">
        It should take you about 5 minutes to complete this form. We will respond to you within 5 working days.
      </p>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p class="govuk-body">
        You will be asked to provide details on what the data is used for,
        where it is currently held, and the names of the
        <a class="govuk-link" href="https://data-services-help.trade.gov.uk/data-workspace/how-articles/data-standards/what-information-asset-owner/">information asset owner</a>
        or
        <a class="govuk-link" href="https://data-services-help.trade.gov.uk/data-workspace/how-articles/data-standards/what-information-asset-manager/">manager</a>.

        You will also be asked to provide details on the licensing of the data,
        and to confirm that such licensing permits the storing of the data on Data Workspace.
        You should have this information before you start -
        if you are not sure of any of these details, please make a note in the field provided.
      </p>
      <form method="POST" novalidate>
        {% csrf_token %}
        <button type="submit" class="govuk-button">Start now</button>
      </form>
      <h2 class="govuk-heading-m">
        Contact
      </h2>
      <p class="govuk-body">
        Use our
        <a class="govuk-link" href="{% url 'support' %}">support and feedback form</a>
        to ask any questions you have about this form.
      </p>
    </div>
  </div>
{% endblock %}
