{% extends '_main.html' %}
{% block page_title %}Request data - {{ block.super }}{% endblock page_title %}
{% block breadcrumbs %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'root' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Request data
      </li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Request data
      </h1>
      <p class="govuk-body">
        Use this service to:
      </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>tell us about data you'd like to publish</li>
            <li>request your data be published</li>
        </ul>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p class="govuk-body">
        Enter as much detail as you can. You do not need to complete all the information if you do not know it.
      </p>
      <p class="govuk-body">
        We will ask for:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a description of the data</li>
        <li>what the data will be used for</li>
        <li>the security classification of the data</li>
        <li>where it is currently held</li>
        <li>the <a class="govuk-link" href="https://data-services-help.trade.gov.uk/data-workspace/policies-and-standards/policies/information-asset-owner/">information asset owner</a>
          or <a class="govuk-link" href="https://data-services-help.trade.gov.uk/data-workspace/policies-and-standards/policies/information-asset-manager/">information asset manager</a>.
        </li>
        <li>licensing details</li>
      </ul>

      <h3 class="govuk-heading-m">
        How long it takes
      </h3>

      <p class="govuk-body">
        Completing this form takes about 5 minutes. We will respond to you within 5 working days.  
      </p>

      <form method="POST" novalidate>
        {% csrf_token %}
       
        <button type="submit" class="govuk-button govuk-button--start">Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </button>
      </form>
      <hr class="govuk-section-break govuk-section-break--visible">
      <h2 class="govuk-heading-m govuk-!-margin-top-4">
        Contact
      </h2>
      <p class="govuk-body">
        Use our
        <a class="govuk-link" href="{% url 'support' %}">support and feedback form</a>
        to ask any questions you have about this form.
      </p>
    </div>
  </div>
{% endblock %}
