<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with security classifications
    </span>
  </summary>
  <div class="govuk-details__text">
    More information about security classifications and what they mean can be found in the
    <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/information-classification-and-handling/">
      DBT Policies and Guidance about Information Classifications and Handling.
    </a>
  </div>
</details>
