{% extends "explorer/base.html" %}
{% block title %}Data Explorer - Delete query{% endblock %}
{% block content %}
  {% with object.datasets.all|length as num_datasets %}
   <div class="govuk-width-container">
     <a href="{{ object.get_edit_url }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-4">Back</a>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Delete chart</h1>
      {% if object.is_published %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This chart cannot be deleted as it is in use by {{ num_datasets }} dataset{{ num_datasets|pluralize }}.
          </strong>
        </div>
      {% else %}
        <p class="govuk-body">
          Charts can only be deleted if they are not referenced by any datasets on the site.
        </p>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="govuk-label govuk-!-margin-bottom-7">
            Are you sure you want to delete <a href="{{ object.get_edit_url }}" class="govuk-link govuk-link--no-visited-state">{{ object.title }}</a>?
        </div>
        <div>
          <button type="submit" class="govuk-button govuk-button--warning"{% if object.is_published %} disabled{% endif %}>Delete chart</button>
        </div>
    </form>
   </div>
  {% endwith %}
{% endblock %}
