@import "app-tabs.css";
@import "app-copy.css";

.govuk-panel--confirmation--left {
  text-align: left;
}

.govuk-panel--confirmation:focus {
  outline: 5px solid #fd0;
}

.unknown {
  color: #bfc1c3;
}

.scrollable-table {
  width: 100%;
  overflow-x: auto;
  max-height: 560px;
  padding: 3px;
}

.scrollable-table:focus {
  border: 3px solid #0b0c0c;
  outline: 3px solid #fd0;
  padding: 0;
}

.fixed-table-height {
  max-height: 100% !important;
}

.scrollable-table table thead th {
  padding: 15px;
  background-color: #dee0e2;
  border-bottom: 0;
  border-right: 2px solid #fff;
  font-weight: normal;
  min-width: 120px;
  position: relative;
  vertical-align: middle;
}

.scrollable-table table tbody td {
  padding: 15px;
  vertical-align: top;
  border: none;
}

.scrollable-table table tbody tr:nth-child(even) td {
  background-color: #f8f8f8;
}

.scrollable-table table thead th.ref-data-col-character-field,
.scrollable-table table thead th.ref-datetime-field {
  min-width: 280px;
}

.scrollable-table table thead th.ref-data-col-id {
  min-width: 120px;
}

.scrollable-table table thead th.ref-data-boolean-field {
  min-width: 80px;
}

.scrollable-table
  table
  thead
  th.ref-data-col-universal-unique-identifier-field {
  min-width: 300px;
}

.search-field {
  position: relative;
}

.search-field__label {
  font-size: 16px;
  line-height: 2.5;
}

@media (min-width: 40.0625em) {
  .search-field__label {
    font-size: 19px;
    line-height: 2.1052631579;
  }
}

.js-enabled .search-field__label {
  position: absolute;
  left: 15px;
  top: 1px;
  z-index: 1;
  color: #6f777b;
}

.search-field-wrapper {
  display: table;
  width: 100%;
  background: #ffffff;
}

.search-field__item {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.search-field__input[type="search"]:focus,
.search-field__input[type="search"].focus {
  z-index: 2;
}

.search-field__input[type="search"] {
  border-right-width: 0;
}

.search-field__input[type="search"]:focus {
  border-right-width: 2px;
}

.search-field-submit-wrapper {
  width: 1%;
}

.search-field__submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url("/__django_static/assets/images/search-button.png");
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -5000px;
  overflow: hidden;
  background-color: #0b0c0c;
  color: #ffffff;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .search-field__submit {
    background-size: 52.5px auto;
    background-position: 115% 50%;
  }
}

.search-field__submit:focus {
  z-index: 2;
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  box-shadow: inset 0 0 0 4px #0b0c0c;
}

.search-field__submit::-moz-focus-inner {
  border: 0;
}

.search-field__submit:hover {
  background-color: #171719;
}

.search-result {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #bfc1c3;
}

.pagination {
  float: right;
}

.pagination li {
  display: inline;
  padding-left: 4px;
}

/* Loading spinner CSS

Lifted from an issue on the GOV.UK Design System repo (https://github.com/alphagov/govuk-design-system-backlog/issues/28).

Comment: https://github.com/alphagov/govuk-design-system-backlog/issues/28#issuecomment-489061680*/
.loading-spinner {
  border: 12px solid #ffffff;
  border-radius: 50%;
  border-top-color: #00703c;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The GDS styles assume the presence of the GOV UK logo + crown, which we
   don't have, so without these tweaks the white Menu button on mobile is too
   low: too close to the border of the black top bar.

   As with most (but not all) styles in GDS, this position is "mobile-first",
   with @media min-width to apply styles on larger screen only. This makes it
   slightly awkward to override a style on only one width of screen: the value
   of the style on the larger sizes must be copied and pasted after the
   override in @media min-width blocks. */
.govuk-header__menu-button {
  top: 12px; /* The original value is 20px */
}

@media (min-width: 40.0625em) {
  .govuk-header__menu-button {
    top: 15px; /* The original GDS value */
  }
}

.app-\!-fill-width {
  width: 100%;
}

.js-enabled .app-js-hidden {
  display: none;
}

.hidden {
  display: none;
}

.app-header--suggestion {
  display: none;
}

@media (min-width: 48.05em) {
  .app-header--suggestion {
    display: block;
    float: right;
  }
}

.app-table_cell--no-border {
  border-bottom: none;
}

.app-taglist {
  list-style: none;
  display: inline-block;
  padding-inline: 0;
}

.app-taglist__item {
  display: inline;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid rgba(11, 12, 12, 0.15);
  border-radius: 4px;
  padding: 2px 4px;
}

#data-grid {
  width: 100%;
  height: 560px;
}

.case-study-quote .quote-heading {
  overflow: hidden;
  margin-left: 32px;
  margin-top: 16px;
}

.case-study-quote .quote-content {
  overflow: hidden;
  margin-left: 32px;
  margin-right: 48px;
  margin-bottom: 16px;
}

.case-study-image {
  width: 100%;
}

.case-study-quote .quote-text {
  margin-bottom: 20px;
}

.visualisation-container {
  padding: 1rem;
  display: block;
  width: 100%;
  min-height: 300px;
}

.visualisation-preview-container {
  overflow: hidden;
  display: block;
}

.visualisation-preview-container svg {
  width: 100%;
  height: auto;
}

/* @include govuk-media-query($from: desktop) ... */
@media (min-width: 48.0625em) {
  .visualisation-preview-container {
    width: 280px;
    height: 175px;
    line-height: 175px;
  }

  .visualisation-preview-container svg {
    width: 280px;
    height: 175px;
  }
}

.app-related-items {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
}

.bookmark {
  padding-left: 18px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216px%22%20height%3D%2218px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20transform%3D%22matrix%281%200%200%201%20-666%20-184%20%29%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%2014.4%2016.2987442167878%20%20L%2014.4%201.52280237937872%20%20L%201.6%201.52280237937872%20%20L%201.6%2016.2987442167878%20%20L%206.8875%2011.468605419696%20%20L%208%2010.4573694646398%20%20L%209.1125%2011.468605419696%20%20L%2014.4%2016.2987442167878%20%20Z%20M%201.45%200%20%20L%2014.55%200%20%20C%2014.7416666666667%200%20%2014.925%200.035690680766689%20%2015.1%200.107072042300067%20%20C%2015.375%200.210178453403831%20%2015.59375%200.372769332452081%20%2015.75625%200.594844679444812%20%20C%2015.91875%200.81692002643754%20%2016%201.06278916060806%20%2016%201.33245208195638%20%20L%2016%2016.6675479180436%20%20C%2016%2016.9372108393919%20%2015.91875%2017.1830799735625%20%2015.75625%2017.4051553205552%20%20C%2015.59375%2017.6272306675479%20%2015.375%2017.7898215465962%20%2015.1%2017.8929279576999%20%20C%2014.9416666666667%2017.9563780568407%20%2014.7583333333333%2017.9881031064111%20%2014.55%2017.9881031064111%20%20C%2014.15%2017.9881031064111%20%2013.8041666666667%2017.8612029081295%20%2013.5125%2017.6074025115664%20%20L%208%2012.5631196298744%20%20L%202.4875%2017.6074025115664%20%20C%202.1875%2017.8691341705221%20%201.84166666666667%2018%20%201.45%2018%20%20C%201.25833333333333%2018%20%201.075%2017.9643093192333%20%200.9%2017.8929279576999%20%20C%200.625%2017.7898215465962%20%200.40625%2017.6272306675479%20%200.24375%2017.4051553205552%20%20C%200.08125%2017.1830799735625%20%200%2016.9372108393919%20%200%2016.6675479180436%20%20L%200%201.33245208195638%20%20C%200%201.06278916060806%20%200.08125%200.81692002643754%20%200.24375%200.594844679444812%20%20C%200.40625%200.372769332452081%20%200.625%200.210178453403831%20%200.9%200.107072042300067%20%20C%201.075%200.035690680766689%20%201.25833333333333%200%20%201.45%200%20%20Z%20%22%20fill-rule%3D%22nonzero%22%20fill%3D%22%23005ea5%22%20stroke%3D%22none%22%20transform%3D%22matrix%281%200%200%201%20666%20184%20%29%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px 16px;
}

.bookmark.is-bookmarked {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216px%22%20height%3D%2218px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20transform%3D%22matrix%281%200%200%201%20-666%20-184%20%29%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M%201.45%200%20%20L%2014.55%200%20%20C%2014.7416666666667%200%20%2014.925%200.035690680766689%20%2015.1%200.107072042300067%20%20C%2015.375%200.210178453403831%20%2015.59375%200.372769332452081%20%2015.75625%200.594844679444812%20%20C%2015.91875%200.81692002643754%20%2016%201.06278916060806%20%2016%201.33245208195638%20%20L%2016%2016.6675479180436%20%20C%2016%2016.9372108393919%20%2015.91875%2017.1830799735625%20%2015.75625%2017.4051553205552%20%20C%2015.59375%2017.6272306675479%20%2015.375%2017.7898215465962%20%2015.1%2017.8929279576999%20%20C%2014.9416666666667%2017.9563780568407%20%2014.7583333333333%2017.9881031064111%20%2014.55%2017.9881031064111%20%20C%2014.15%2017.9881031064111%20%2013.8041666666667%2017.8612029081295%20%2013.5125%2017.6074025115664%20%20L%208%2012.5631196298744%20%20L%202.4875%2017.6074025115664%20%20C%202.1875%2017.8691341705221%20%201.84166666666667%2018%20%201.45%2018%20%20C%201.25833333333333%2018%20%201.075%2017.9643093192333%20%200.9%2017.8929279576999%20%20C%200.625%2017.7898215465962%20%200.40625%2017.6272306675479%20%200.24375%2017.4051553205552%20%20C%200.08125%2017.1830799735625%20%200%2016.9372108393919%20%200%2016.6675479180436%20%20L%200%201.33245208195638%20%20C%200%201.06278916060806%20%200.08125%200.81692002643754%20%200.24375%200.594844679444812%20%20C%200.40625%200.372769332452081%20%200.625%200.210178453403831%20%200.9%200.107072042300067%20%20C%201.075%200.035690680766689%20%201.25833333333333%200%20%201.45%200%20%20Z%20%22%20fill-rule%3D%22nonzero%22%20fill%3D%22%23005ea5%22%20stroke%3D%22none%22%20transform%3D%22matrix%281%200%200%201%20666%20184%20%29%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

/* force links from the rich text editor to use GDS colours */
.dataset-description-richtext a {
  color: #1d70b8;
}

.dataset-description-richtext a:active {
  color: #0b0c0c;
}

.dataset-description-richtext a:hover {
  color: #003078;
}

.dataset-description-richtext a:visited {
  color: #4c2c92;
}
