.source-link-inline-upload {
  margin-top: -30px;
  margin-bottom: 30px;
  width: 100%;
}
.source-link-inline-upload .upload-link {
  background: url('/__django_static/admin/img/icon-addlink.svg') 0 1px no-repeat;
  padding-left: 16px;
  font-size: 12px;
}
.source-link-inline-upload .alert {
  font-size: 12px;
  color: gray;
}
.back-link {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  line-height: 15px;
  background: #ddd;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 0 0 10px;
  float:left;
  border: none;
  color: #333 !important;
  cursor: pointer;
}
.back-link:hover {
  background: #ccc;
}
.ref-data-upload .description p {
  padding-left: 0;
}
.ref-data-upload .description p:last-child {
  padding-bottom: 10px;
}
.ref-data-upload ul.errorlist {
  margin-left: 0 !important;
}
table.full-width {
  width: 100%;
}
.error-row, .error-row pre {
  background: #ffefef;
  color: #ba2121;
}
.success-row {
  background: #dfd;
}

.float-right {
   float: right;
}
.app-auth.model-user.change-form .selector-available select {
  overflow-x: auto;
}