.text-top {
    vertical-align: text-top;
}
.float-right {
    float: right;
}
.pagination {
    float: right;
}
.pagination li {
    display: inline;
    padding-left: 4px;
}
.log-sql pre {
    margin: 2px 0px;
}
.log-sql div {
    max-width: 250px;
    overflow: auto;
    white-space: nowrap;
    padding-right: 10px;
}
.log-user {
    max-width: 200px;
    overflow: auto;
    white-space: nowrap;
}
.scrollable-table {
    /*width: 100%;*/
    overflow-x: auto;
    max-height: 560px;
    padding: 3px;
}
.scrollable-table:focus {
    border: 3px solid #0b0c0c;
    outline: 3px solid #fd0;
    padding: 0;
}
/* add yellow box shadow to query editor on focus */
.govuk-textarea:focus-within {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
}
/* resize editor if wrapper is resized */
#ace-sql-editor {
    width: 100%;
    height: 100%;
    position: relative;
}

.ace_editor.ace_autocomplete {
    width: 500px!important;
}

.list {
    -webkit-padding-start: 0px;
    list-style: none;
}

.schema-wrapper{
    overflow-x: hidden;
}

.schema-panel {
    background-color: white;
    padding: 0px;
    border: 1px solid black;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.schema-title {
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    word-break: break-word;
}

.schema-cell-left {
    font-size: 0.8rem;
    padding: 5px 5px 5px 5px;
    word-break: break-word;
}

.schema-cell-right {
    font-size: 0.8rem;
    padding: 5px 5px 5px 5px;
}

.schema-collapse {
    width: 50%;
    float: left;
    text-align: center;
    color: #337ab7;
}

.schema-expand {
    width: 50%;
    float: right;
    text-align: center;
    color: #337ab7;
}

.app-label--inline, .app-input--inline {
    display: inline;
}

.app-readonly-sql {
    background-color: #F0F0F0
}

@media only screen and (min-width: 1020px) {
    /* Tablet and mobile displays already use full width */
    .govuk-width-container {
        max-width: 95%;
    }
}
.loading-spinner {
  border: 12px solid #00703c;
  border-radius: 50%;
  border-top-color: #ffffff;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-link {
  color: rgb(29, 112, 184);
  cursor: pointer;
  display: block;
  font-family: arial, sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 19px;
  margin: 5px 15px 20px 0 !important;
  text-decoration-color: rgb(29, 112, 184);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  background-color: transparent;
  border-width: 0;
  padding: 0;
}
