{% extends "admin/data_workspace_stats_base.html" %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; Data Workspace Stats
  </div>
{% endblock breadcrumbs %}
{% block content %}
  <div class="content-main">
    <h1>
      Data Workspace Stats
      <small>
        <br><a href="{% url 'dw-admin:data-workspace-trends' %}">View trends</a>
      </small>
    </h1>
    <div class="stats-container">
      {% for current_stat in current_stats %}
        {% include "admin/inc/stats_tile.html" with stat=current_stat%}
      {% endfor %}
    </div>
  </div>
{% endblock %}
