{% extends '_main.html' %}
{% load core_tags %}
{% load datasets_tags %}

{% block page_title %}
  Preview {{ source_object.name }}
{% endblock %}

{% block main %}
  <div class="dw-banner">
    <div class="govuk-width-container">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item dw-banner__breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link dw-banner__breadcrumbs__link" href="/">Home</a>
          </li>

          <li class="govuk-breadcrumbs__list-item dw-banner__breadcrumbs__list-item">
            Collections
          </li>
          <li class="govuk-breadcrumbs__list-item dw-banner__breadcrumbs__list-item">
            {{ source_object.name }}
          </li>
        </ol>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-xl dw-banner__caption-xl">Personal collection</span>
          <h1 class="govuk-heading-xl dw-banner__heading-xl">{{ source_object.name }}</h1>
          <p class="govuk-body dw-banner__body">{{ source_object.description|linebreaksbr }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      {% include 'partials/messages.html' %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Data</h2>
          <div class="search-result" style="border-bottom: none">
            {% for dataset_collection in dataset_collections %}
            <a href="{% url 'data_collections:collection_data_membership_confirm_removal' collections_id=source_object.id data_membership_id=dataset_collection.id %}" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-1 govuk-!-margin-left-4" style="float: right">Remove</a>
            <h3 class="govuk-heading-m">
              <a class="govuk-heading-m govuk-link dataset-link"
                 href="{% if dataset_collection.dataset.type == 0 %}{% url "datasets:dataset_detail" dataset_uuid=dataset_collection.dataset.referencedataset_set.first.uuid %}#
                     {{ dataset_collection.dataset.slug }}{% else %}{% url "datasets:dataset_detail" dataset_uuid=dataset_collection.dataset.id %}#{{ dataset_collection.dataset.slug }}{% endif %}">{{ dataset_collection.dataset.name }}</a>
            </h3>
            <p class="govuk-body">{{ dataset_collection.dataset.short_description }}</p>
            <div class="govuk-body">
              <dl>
                <dt>Data type:</dt>
                <dd>{{ dataset_collection.dataset.get_type_display }}</dd>
                <dt>Last updated:</dt>
                <dd>
                  {{ dataset_collection.dataset.last_updated|date_with_gmt_offset|default_if_none:"N/A" }}
                </dd>
                <dt>Source:</dt>
                <dd>
                  {% for source in dataset_collection.dataset.sources %}
                    <a class="govuk-link"
                       href="{% url "datasets:find_datasets" %}?source={{ source.id }}">{{ source.name }}</a>
                    {% empty %}
                    N/A
                  {% endfor %}
                </dd>
                {% if dataset_collection.dataset.topics %}
                  <dt>Topics:</dt>
                  <dd>
                    {% for topic in dataset_collection.dataset.topics %}
                      <a class="govuk-link"
                         href="{% url "datasets:find_datasets" %}?topic={{ topic.id }}">{{ topic.name }}</a>
                      {% empty %}
                      &nbsp;
                    {% endfor %}
                  </dd>
                {% endif %}
              </dl>
            </div>
            {% endfor %}
            <p class="govuk-body" style="margin-bottom: 40px"><a class="govuk-link govuk-link--no-visited-state" href="">Search for data</a> you'd like to add.</p>
          </div>
          <h2 class="govuk-heading-l">Dashboards</h2>
          <div class="search-result" style="border-bottom: none">
            {% for visualisation_collection in visualisation_collections %}
            <a href="{% url 'data_collections:collection_visualisation_membership_confirm_removal' collections_id=source_object.id visualisation_membership_id=visualisation_collection.id %}" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-1 govuk-!-margin-left-4" style="float: right">Remove</a>
            <h3 class="govuk-heading-m">
              <a class="govuk-heading-m govuk-link dataset-link"
               href="{% url "datasets:dataset_detail" dataset_uuid=visualisation_collection.visualisation.id %}">{{ visualisation_collection.visualisation.name }}</a>
            </h3>
            <p class="govuk-body">{{ visualisation_collection.visualisation.short_description }}</p>
            <div class="govuk-body">
              <dl>
                <dt>Data type:</dt>
                <dd>{{ visualisation_collection.visualisation.get_type_display }}</dd>
                <dt>Last updated:</dt>
                <dd>
                  {{ visualisation_collection.visualisation.last_updated|date_with_gmt_offset|default_if_none:"N/A" }}
                </dd>
                <dt>Source:</dt>
                <dd>
                  {% for source in visualisation_collection.visualisation.sources %}
                    <a class="govuk-link"
                       href="{% url "datasets:find_datasets" %}?source={{ visualisation_collection.visualisation.id }}">{{ visualisation_collection.visualisation.name }}</a>
                    {% empty %}
                    N/A
                  {% endfor %}
                </dd>
                {% if visualisation_collection.visualisation.topics %}
                  <dt>Topics:</dt>
                  <dd>
                    {% for topic in visualisation_collection.visualisation.topics %}
                      <a class="govuk-link"
                         href="{% url "datasets:find_datasets" %}?topic={{ topic.id }}">{{ topic.name }}</a>
                      {% empty %}
                      &nbsp;
                    {% endfor %}
                  </dd>
                {% endif %}
              </dl>
            </div>
            {% endfor %}
          </div>
          <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://data.trade.gov.uk/datasets/?q=&sort=relevance&data_type=3">Search for dashboards</a> you'd like to add.</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-s">Owner</h2>
          <p class="govuk-body">{{ source_object.owner.get_full_name|default_if_none:"Not assigned" }}<br>{% if source_object.owner %}(<a class="govuk-link govuk-link--no-visited-state" href="mailto:{{ source_object.owner.email }}">{{ source_object.owner.email }}</a>){% endif %}</p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
