{% extends '_main.html' %}
{% load static %}
{% block page_title %}Collections{% endblock %}
{% block breadcrumbs %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Collections</li>
      </ol>
    </div>
  </div>
{% endblock breadcrumbs %}
{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
    {% include 'partials/messages.html' %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-3">
            Collections
          </h1>
          <p class="govuk-body-l govuk-!-margin-bottom-4  ">
            Gather and organise Data Workspace content to match the way you work.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-6">
            Use Collections to create personal or shared spaces for the data and dashboards you use most.
          </p>
          <p class="govuk-body">
            <a class="govuk-button" href="{% url 'data_collections:collection-create' %}">
              Create a collection
            </a>
          </p>
        </div>
        {% if not collections %}
          <div class="govuk-grid-column-one-half">
            <img alt="Collections" src="{% static 'assets/images/collections.svg' %}"/>
          </div>
        {% endif %}
      </div>

      {% if collections %}
        {% if personal_collections %}
          <div class="govuk-body">
            <h2 class="govuk-heading-m">
              Personal collections
            </h2>
            <ul class="collection-buttons-cards-container">
              {% for collection in personal_collections %}
                <li class="collection-button__item">
                  <a class="collection-button__link"
                     href="{% url 'data_collections:collections_view' collections_id=collection.id %}" role="button">
                    <h3 class="collection-button__heading govuk-heading-m govuk-!-margin-bottom-0">{{ collection.name }}</h3>
                    <span class="collection-button__text">{{ collection.description }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if shared_collections %}
          <div class="govuk-body">
            <h2 class="govuk-heading-m">
              Shared Collections
            </h2>
            <ul class="collection-buttons-cards-container">
              {% for collection in shared_collections %}
                <li class="collection-button__item">
                  <a class="collection-button__link"
                     href="{% url 'data_collections:collections_view' collections_id=collection.id %}" role="button">
                    <h3 class="collection-button__heading govuk-heading-m govuk-!-margin-bottom-0">{{ collection.name }}</h3>
                    <span class="collection-button__text">{{ collection.description }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if collections_for_all %}
          <div class="govuk-body">
            <h2 class="govuk-heading-m">
              Collections for all users
            </h2>
            <a>
              Collections for all users are collections made by colleagues to be viewed by everyone.
            </a>
            <ul class="collection-buttons-cards-container">
              {% for collection in collections_for_all %}
                <li class="collection-button__item">
                  <a class="collection-for-all-button__link"
                     href="{% url 'data_collections:collections_view' collections_id=collection.id %}" role="button">
                    <span class="collection-button__heading">{{ collection.name }}</span>
                    <span class="collection-button__text">{{ collection.description }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

      {% endif %}
    </main>
  </div>
{% endblock main %}
