{% extends '_main.html' %}
{% load core_tags %}
{% load datasets_tags %}
{% block initialGTMDataLayer %}
  {{ block.super }}
  <script nonce='{{ request.csp_nonce }}'>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById("add-form").addEventListener("submit", function() {
        window.dataLayer.push({
          'event': 'GAEvent',
          'eventCategory': "Catalogue",
          'eventAction': "Add to collection",
          'eventLabel': "{{ dataset.name }} ({{ dataset.id }})"
        })
      });
    });
  </script>
{% endblock %}
{% block page_title %}
  Select a collection
{% endblock %}
{% block go_back %}
    <a href="{{ dataset.get_absolute_url }}" class="govuk-back-link">Back</a>
{% endblock go_back %}
{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      {% include 'partials/messages.html' %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Select a collection</h1>
          {% include 'design_system/error_summary.html' with form=form %}
          {% if form.collection|length > 1 %}
            <form method="post" id="add-form">
            <p class="govuk-hint">{{ form.collection.label }}</p>
              {% csrf_token %}
              {% for collection in form.collection %}
                {% if collection != form.collection|last %}
                  {{ collection }}
                {% endif %}
              {% endfor %}
              <p class="govuk-body">or</p>
              {{ form.collection|last }}
              <div class="govuk-button-group">
                <input class="govuk-button govuk-!-margin-top-2" type="submit" value="Continue">
                <a class="govuk-link govuk-link--no-visited-state" href="{{ dataset.get_absolute_url }}">Cancel</a>
              </div>
            </form>
          {% else %}
            <p class="govuk-body govuk-!-margin-top-6">You don't currently have any collections</p>
            <div class="govuk-button-group">
              <a class="govuk-button govuk-!-margin-top-2"
                 href="{{ collection_url }}">Create
                a collection</a>
            </div>
          {% endif %}
        </div>
      </div>
    </main>
  </div>
{% endblock main %}
